<md-dialog flex>
  <form name="eventtypeForm" autocomplete="off">
    <md-toolbar>
      <div class="md-toolbar-tools">
        
        <span flex="100" align="center"><h2>{{eventType._id ? 'Edit Event Type' : 'Add Event Type'}}</h2></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="modules/core/client/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="column" flex>

          <md-input-container flex>
            <label>Name</label>
            <input required name="name" ng-model="model.eventType.name"/>
            <div ng-messages="eventtypeForm.name.$error">
              <div ng-message="required">Event type name is required.</div>
            </div>
          </md-input-container>  
{{model.eventType.colour}}
          <md-input-container flex>
              <label>Colour</label>
              <md-select  required
                          name="colour"
                          ng-model="model.eventType.colour"
                          ng-change="onEventTypeColourSelected()">                
                <md-optgroup label="Colour">
                  <md-option ng-value="colour" ng-repeat="colour in colours">{{colour.name}}</md-option>
                </md-optgroup>
              </md-select>    
              <div ng-messages="eventtypeForm.colour.$error" ng-show="eventtypeForm.colour.$invalid && submitted">
                <div ng-message="required">Event colour is required.</div>
              </div>
          </md-input-container>

        </div>
        
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">  
      <span flex></span>
      <md-button flex ng-click="save(eventtypeForm)" type="submit">Submit</md-button>
      <span flex></span>
      <md-button flex ng-click="cancel()">Cancel</md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>

