<div>
	<h4 align="center"><u>RULES AND REGULATIONS</u></h4>
	<ol type="1">
		<li style="padding-top:10px;"><b>The entry to the hall will be permitted to the Service Providers & Guests only after the receipt of the entire payment.</b></li>
		<li style="padding-top:10px;">Hammering nails or damage to the building in any form will not be permitted.</li>
		<li style="padding-top:10px;">Paintings and disfiguring the walls are not permitted.</li>
		<li style="padding-top:10px;">The applicant shall use the hall, furniture, fittings, vessels and other articles that may be entrusted to him/her use with due care. The applicant will be required to pay for any damages and/or loss of articles, etc. as may be claimed by Management.</li>
		<li style="padding-top:10px;">No cooking will be allowed inside the pantry attached with the hall. However, the pantry is provided only for warming if required. A separate kitchen for cooking is provided in the ground floor at an additional charge. Outside catering will be permitted for both <b>Veg/Non Veg foods.</b></li>
		<li style="padding-top:10px;">Hall, stage decoration is to be carried out only with the empanelled decorators of MIRTH.</li>
		<li style="padding-top:10px;">Electrical consumption charges shall be payable extra @ Rs.500/- per hour. An additional charge of Rs.1000/-in lump sum will be collected for usage of extra lights or DJ systems.</li>
		<li style="padding-top:10px;">No articles of the Hall are permitted to be taken out.</li>
		<li style="padding-top:10px;">In case of cancellation, only 50% of the charges collected will be refunded. The party however will have the option to use the amount to rebook the hall subject to any increase in the rent between the date of booking and the date of function, and the party should pay the actual difference amount in full. The party can opt for the change in date only once from his use on any subsequent day/days according to his/her choice within two months from the date of cancellation, subject to its availability. The use of the hall cannot be transferred by the party to any other person/s.</li>
		<li style="padding-top:10px;">The applicant shall take care of his/her articles, baggages, vehicle etc., and those of his/her invitees and the Management is not liable for any loss, theft or damage to them.</li>
		<li style="padding-top:10px;"><b>Consumption of Alcohol is strictly prohibited.</b></li>
		<li style="padding-top:10px;">The applicant shall hand over all the articles entrusted to him / her at the time of his / her occupation of the Hall immediately on expiry of the booked period, in the same condition and at the same location they had been entrusted to him / her earlier.</li>
		<li style="padding-top:10px;">Spitting in any place on the premises other than in the washrooms provided for the purpose, is strictly prohibited.</li>
		<li style="padding-top:10px;">The applicant shall make arrangements to ensure orderly parking to vehicles at the place designated for the purpose and adhere strictly to the routes for movement of vehicles. The Management is not liable for any loss, theft, damage or anything missing from them.</li>
		<li style="padding-top:10px;">Only restricted volume of Audio system without causing disturbance to others will be permitted.</li>
		<li style="padding-top:10px;">Water charges will be Rs. 600/- & Rs. 1000/- for half day & full day respectively per Hall.</li>
		<li style="padding-top:10px;">Electrical illumination required by the applicant can be arranged only through the Contractor authorized by the Management and payments thereof settled immediately on conclusion of the function. No neon sign illumination is permitted inside or outside the Halls.</li>
		<li style="padding-top:10px;"><b>Any cleaning or sweeping during the course of function should be done only by the service providers engaged by the Applicant.</b></li>
		<li style="padding-top:10px;">Details of any other contractors engaged by the applicant for catering, decoration etc. shall be furnished to the Hall three days before they start the work to ensure that they adhere with the instruction of the Management on such matters.</li>
		<li style="padding-top:10px;">The rent amount collected from the applicant is only for one slot with a duration of 6 hours, i.e. 8am to 2pm Or 4pm to 10pm.</li>
		<li style="padding-top:10px;">The applicant shall manage to remove all his / her articles from the Halls as early as possible on the expiry of the booked period. The other agencies arranged by him shall also remove their fittings, equipments, things etc., immediately after the Function is over.</li>
		<li style="padding-top:10px;">The applicant shall make his / her own arrangements to ensure that unauthorized persons do not gain entry into the Hall including dining halls.</li>
		<li style="padding-top:10px;">The seating arrangements provided in the Hall shall not be disturbed.</li>
		<li style="padding-top:10px;">Twenty five percent (25%) of the Rental charges shall be taken as security deposit and shall be refunded in 2 working days after the function is over.</li>
		<li style="padding-top:10px;">The Management reserves its rights to inspection of the Halls at anytime during the course of the function through its authorized representatives.</li>
		<li style="padding-top:10px;">The Hall Management also reserves its right to proceed against the applicant to recover any amount due from the applicant, if the recoveries exceed the amount of Deposit made by him / her in this regard.</li>
		<li style="padding-top:10px;">No posters should be pasted or flexed inside the Halls, in the Campus and also in the outer side of the Compound wall while conducting the functions / exhibitions.</li>
		<li style="padding-top:10px;">GST will be extra on the gross amount @18%.</li>
		<li style="padding-top:10px;">Use of Tobacco products are strictly prohibited in any form including Pan Parag, beeda etc.</li>
		<li style="padding-top:10px;">The Hirers are requested not to use the disposable plastic items.</li>
		<li style="padding-top:10px;">The power service shall be disconnected through an automatic system after the booking period is over.</li>
		<li style="padding-top:10px;">The Generator charges shall be Rs. 750/- per hour or part thereof if operated.</li>
		<li style="padding-top:10px;">The person booking the Hall will be liable for any breach of contract in any form.</li>
		<li style="padding-top:10px;">The Hirer is required to settle all the outstanding dues at the time of checkout without fail.</li>
		<li style="padding-top:10px;">The display of the function is to be placed only in the designated location.</li>
		<li style="padding-top:10px;">Bursting / Firing of crackers of any type in the premises is strictly prohibited.</li>
		<li style="padding-top:10px;">The electricity power for AC, Fans, Lights etc., would be switched off automatically at the closure time. Only emergency lights would be ‘ON’ for an additional 15 minutes duration.</li>
		<li style="padding-top:10px;">Mirth Hall is meant only for family and corporate functions and/or events and not for political or association or trade union activities.</li>
		<li style="padding-top:10px;"><b>Any deviation or violation from the event/function for which the hall is booked will lead to stoppage of electricity, water and other amenities and forfeit of the deposit amount.</b></li>
		<li style="padding-top:10px;">The Applicant should inspect and should ensure that all things belongings to them are removed/taken at the time of checkout. The Management will not entertain any claims by the Applicant for loss of their belongings in any form at any time after that.</li>
		<li style="padding-top:10px;">The Applicant hereby confirms that he/she has received the list of service providers from the Mirth Management. The Applicant hereby understand/accept that the list provided only as an extra service and neither the staffs nor the management of the Mirth is responsible for any of their lapse in/for service or actions/costs.</li>
		<li style="padding-top:10px;">Maximum number of car parking allotted inside the premises _______ Nos.</li>
		<li style="padding-top:10px;">Hand wash soap and paper napkins if required should be arranged only through their service providers.
			<br/><br/>
			<b>I have read and understood the above Rules and Regulations for the use and I hereby agree to abide by the same.
			<br/><br/><br/>
			<p style="width: 95%" align="right">Signature of the Applicant</p>
			<p style="width: 95%" align="right">Name and Address-----------------------</p>
			<p style="width: 95%" align="right">(in Capital Letters)-------------------------------</p></b>
			<table style="width: 75%">
				<tr>
					<td style="width: 50%">
						<b>Date:</b>
					</td>
					<td style="width: 50%" align="right">
						<b>Phone No.</b>
					</td>
				</tr>
			</table></li>		
		</ol>
		
</div>
<br/>
<div>
	<h4 align="center"><u>ANNEXURE - I</u></h4>
	<h4 align="center"><u>List of Items Provided</u></h4>
	<table style="width: 100%;" align="center">
	  <tbody>
	    <tr>
	        <td style="width: 50%;">
	            1. Chairs :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>

	    <tr>
	        <td style="width: 50%;">
	            2. Tables :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            3. Music System :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            4. Projector :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            5. Screen :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            6. Mic :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            7. Movable stage :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    	   <tr>
	        <td style="width: 50%;">
	            8. Buffet Table :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            9. Garbage Bin :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    </tbody>
	   </table>
</div>

<div>
	<h4 align="center"><u>ANNEXURE - II</u></h4>
	<h4 align="center"><u>List of Items that are provided in the kitchen</u></h4>
	<table style="width: 100%;" align="center">
	  <tbody>
	    <tr>
	        <td style="width: 50%;">
	            1. Gas Stove (Big size - Double Burner) :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>

	    <tr>
	        <td style="width: 50%;">
	            2. Gas Stove (Medium size – Double Burner) :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            3. Gas Stove (Big size – Single Burner) :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            4. Biriyani  Fire Angle Stand :
	        </td>
	        <td style="width: 50%;">
	             5 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            5. Grinder (7 Litres) :
	        </td>
	        <td style="width: 50%;">
	             1 No.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            6. Grinder (5 Litres) :
	        </td>
	        <td style="width: 50%;">
	             1 No.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            7. Freezer (150 Litres) :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>
	    	   <tr>
	        <td style="width: 50%;">
	            8. Working Table (4x2 size) :
	        </td>
	        <td style="width: 50%;">
	             1 No.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            9. Serving Table (6x1½ size) :
	        </td>
	        <td style="width: 50%;">
	             10 Nos.
	        </td>	      
	    </tr>
	     <tr>
	        <td style="width: 50%;">
	            10. Dosa Tawa :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>
	     <tr>
	        <td style="width: 50%;">
	            11. Pasta Stovetop :
	        </td>
	        <td style="width: 50%;">
	             1 No.
	        </td>	      
	    </tr>
	    </tbody>
	    </table>
	    <p>Please note that no other items other than the above shall be provided by the Hall. Items such as Gas Cylinder, Cooking Vessels, Food, Drinking Water, Dining Plates, Tumblers, Glasses, Tissue Papers, Chair & Table dresses, decorative items etc. need to be arranged only by the host.</p>

		<p>I have read all the above and hereby agree to abide with the same.</p>
		<p style="width: 75%" align="right">Name :</p>
		<p style="width: 75%" align="right">Signature :</p>
		<p style="width: 75%" align="right">Date: </p>
</div>