<div>
	<h4 align="center"><u>RULES AND REGULATIONS</u></h4>
	<ol type="1">
		<li  style="padding-top:10px;"><b>The entry to the hall will be permitted to the Service Providers & Guests only after the receipt of the entire payment.</b></li>
		<li  style="padding-top:10px;">No hammering nails or destroying the building.</li>
		<li  style="padding-top:10px;">No painting or disfiguring of halls and corridors.</li>
		<li  style="padding-top:10px;">The applicant shall use the hall, furniture, fittings, vessels and other articles that may be entrusted to him/her use with due care. The applicant will be required to pay for any damages and/or loss of articles, etc. as may be claimed by Trust.</li>
		<li  style="padding-top:10px;">No cooking will be allowed inside the pantry attached with the hall. However, the pantry is provided only for warming if required. A separate kitchen for cooking is provided in the ground floor at additional charges. Outside catering will be permitted for both Veg/Non Veg foods.</li>
		<li  style="padding-top:10px;">Hall, stage decoration is to be carried out only with the empanelled decorators of MIRTH.</li>
		<li  style="padding-top:10px;">Electrical consumption charges shall be payable extra @Rs.15/- per unit.</li>
		<li  style="padding-top:10px;">No articles of the Hall are permitted to be taken out of the halls.</li>
		<li style="padding-top:10px;">“No refund of money paid will be made in case of cancellation except the refundable deposit amount. The party however will have the option to rebook the hall free of charges subject to any increase in the rent between the date of booking and the date of function, and the party should pay the actual difference in full. The party can opt for the change in date only once from his use on any subsequent day/days according to his/her choice within two months from the date of cancellation, subject to its availability. The use of the hall cannot be transferred by the party to any other person”. However, such postponement shall be permitted only for marriage function and when the entire Hall including the Roof Top Dining is booked and if postponed before 30 days from the date of function originally booked.</li>
		<li  style="padding-top:10px;">The applicant shall take care of his/her articles, baggages, vehicle etc., and those of his/her invitees and the Trust is not liable for any loss, theft or damage to them.</li>
		<li  style="padding-top:10px;">Consumption of Alcohol is strictly prohibited.</li>
		<li  style="padding-top:10px;">The applicant shall hand over all the articles entrusted to him / her at the time of his / her occupation of the Hall immediately on expiry of the booked period, in the same condition and at the same location they had been entrusted to him / her earlier.</li>
		<li  style="padding-top:10px;">Spitting in any place on the premises other than in the washrooms provided for the purpose, is strictly prohibited.</li>
		<li  style="padding-top:10px;">The applicant shall make arrangements to ensure orderly parking to vehicles at the place designated for the purpose and adhere strictly to the routes for movement of vehicles. The Management is not liable for any loss, theft, damage or anything missing from them.</li>
		<li  style="padding-top:10px;">Only restricted volume of Audio system will be permitted without causing disturbance to others.</li>
		<li  style="padding-top:10px;">Water charges will be Rs. 600/- & Rs. 1000/- for half day & full day respectively per Hall.</li>
		<li  style="padding-top:10px;">Electrical illumination required by the applicant can be arranged only through the Contractor authorized by the Hall and payments thereof settled immediately on conclusion of the function. No neon sign illumination is permitted inside or outside the Halls.</li>
		<li  style="padding-top:10px;">Cleaners required by the applicant (for the Dining Halls and Kitchen) including cleaning of the vessels shall be engaged only from the Contractor authorized by the Hall and payment thereof settled immediately on conclusion of the function direct to the contractor @Rs.1000/- for half day per hall and the Roof Top Hall Rs. 2000/- per half day.</li>
		<li  style="padding-top:10px;">Details of any other contractor engaged by the applicant for catering, etc. shall be furnished to the Hall three days before they start the work to ensure that they adhere to the instruction of the Trust in such matters.</li>
		<li  style="padding-top:10px;">For purpose of booking the Hall a day is reckoned from  7 Hrs - 
			<ol type="a">
				<li  style="padding-top:10px;">6.00a.m. – 1.00 p.m. or 7.00a.m. – 2.00p.m.</li>
				<li  style="padding-top:10px;">3.00p.m. – 10.00p.m. or 4.00p.m. – 11.00p.m.<br>(or)<br>Full Day</li>
			</ol>
		</li>
		<li  style="padding-top:10px;">The applicant shall manage to remove all his / her articles from the Halls as early as possible on the expiry of the booked period. The other agencies arranged by him shall also remove their fittings etc., immediately after the Function is over.</li>
		<li  style="padding-top:10px;">The applicant shall make his / her own arrangements to ensure that unauthorized persons do not gain entry into the Hall including dining halls.</li>
		<li  style="padding-top:10px;">The seating arrangements provided in the Hall shall not ordinarily be disturbed. If they are disturbed by applicant, they shall be rearranged at his / her cost with the labour arranged through the trust.</li>
		<li  style="padding-top:10px;">25% of the Rental of the total charges shall be taken as security deposit and shall be refunded in 2 working days after the function is over.</li>
		<li  style="padding-top:10px;">The Hall reserves its of inspection of the Halls at anytime through its authorized representatives.</li>
		<li  style="padding-top:10px;">The Hall Management also reserves its right to proceed against the applicant to recover any amount due from the applicant, if the recoveries exceed the amount of Deposit made by him / her in this regard.</li>
		<li  style="padding-top:10px;">No posters should be pasted or flexed inside the Halls. In the Campus and also in the outer side of the Compound wall while conducting the functions / exhibitions.</li>
		<li  style="padding-top:10px;">“The charges prescribed for the use of the hall should be paid in full. Any increase in rent / charges will be demanded and the party is liable and obliged to pay the difference in amount, if in case per day rent is increased between the date of booking and the date of function, the party is liable to pay the actual difference before the date of function. Only one function should be conducted. If any additional function is to be conducted a day rent to be remitted in addition to the rent already remitted subject to availability?</li>
		<li  style="padding-top:10px;">Service Tax will be extra on the gross amount @15%.</li>
		<li  style="padding-top:10px;">Use of Tobacco products strictly prohibited in any form including Pan Parag, beeda etc.</li>
		<li  style="padding-top:10px;">The Hires are requested not to use the disposable plastic items.</li>
		<li  style="padding-top:10px;">The power service shall be disconnected through an automatic system after the booking period is over.</li>
		<li  style="padding-top:10px;">The Generator charges shall be Rs. 750/- per hour or part thereof if operated.</li>
		<li  style="padding-top:10px;">The person booking the Hall will be liable for any breach of contract in any form.</li>
		<li  style="padding-top:10px;">The Hirer is required to settle all the outstanding dues at the time of checkout.</li>
		<li  style="padding-top:10px;">No postponement will be allowed for functions other than marriage and marriage receptions.</li>
		<li  style="padding-top:10px;">The display of the function is to be placed only in the designated location.</li>
		<li  style="padding-top:10px;">Bursting / Firing of crackers of any type in the premises is strictly prohibited.</li>
		<li  style="padding-top:10px;">The electricity power for AC, Fans, Lights etc., would be switched off automatically at the closure time. Only emergency lights would be ‘ON’ for an additional 15 minutes duration.</li>
		<li  style="padding-top:10px;">Mirth Hall is meant only for family and corporate functions and/or events and not for political or association or trade union activities.</li>
		<li  style="padding-top:10px;">Any deviation or violation from the event/function for which the hall is booked will lead to stoppage of electricity, water and other amenities and forfeit of the deposit amount.</li>
		<li  style="padding-top:10px;">I have inspected thoroughly and taken all my things and belongings at the time of checkout. I will not make any claim or loss for any of my belongings in any form at anytime.</li>
		<li  style="padding-top:10px;">I hereby confirm the receipt of the list of the service providers from Mirth. I understand/accept that the list is provided only as an extra service and neither the staffs nor the management of the Mirth is responsible for any of their lapse in/for service or actions or costs.</li>
		<li  style="padding-top:10px;">Cancellation Policy<br/>
			<ol type="a">
				<li  style="padding-top:10px;">If cancelled within one week from the function time, the entire amount will be forfeited and only the security deposit will be refunded.</li>
				<li  style="padding-top:10px;">If cancelled within one month from the date of function, 75% of the rental charges shall be returned along with the security deposit.</li>
				<li  style="padding-top:10px;">If cancelled one month and above from the date of function, 10% of the rental shall be forfeited and the balance with the security deposit shall be refunded. <br/><br/>I have read and understood the above Rules and Regulations for the use and I hereby agree to abide by the same. <br/><br/><br/>
				<p  style="width: 95%" align="right">Signature of the Applicant</p>
				<p  style="width: 95%" align="right">Name and Address-----------------------</p>
				<p  style="width: 95%" align="right">(in Capital Letters)-------------------------------</p>
				<table style="width: 75%">
					<tr>
						<td style="width: 50%">
							Date:
						</td>
						<td style="width: 50%" align="right">
							Phone No.
						</td>
					</tr>
				</table>
				</li>
			</ol>
		</li>
		</ol>
		
</div>

<div>
	<h4 align="center"><u>ANNEXURE - I</u></h4>
	<h4 align="center"><u>List of Items Provided</u></h4>
	<table style="width: 100%;" align="center">
	  <tbody>
	    <tr>
	        <td style="width: 50%;">
	            1. Chairs :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>

	    <tr>
	        <td style="width: 50%;">
	            2. Tables :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            3. Music System :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            4. Projector :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            5. Screen :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            6. Mic :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            7. Movable stage :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    	   <tr>
	        <td style="width: 50%;">
	            8. Buffet Table :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            9. Garbage Bin :
	        </td>
	        <td style="width: 50%;">
	             Nos.
	        </td>	      
	    </tr>
	    </tbody>
	   </table>
</div>

<div>
	<h4 align="center"><u>ANNEXURE - II</u></h4>
	<h4 align="center"><u>List of Items that are provided in the kitchen</u></h4>
	<table style="width: 100%;" align="center">
	  <tbody>
	    <tr>
	        <td style="width: 50%;">
	            1. Gas Stove (Big size - Double Burner) :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>

	    <tr>
	        <td style="width: 50%;">
	            2. Gas Stove (Medium size – Double Burner) :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            3. Gas Stove (Big size – Single Burner) :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            4. Biriyani  Fire Angle Stand :
	        </td>
	        <td style="width: 50%;">
	             5 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            5. Grinder (7 Litres) :
	        </td>
	        <td style="width: 50%;">
	             1 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            6. Grinder (5 Litres) :
	        </td>
	        <td style="width: 50%;">
	             1 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            7. Freezer (150 Litres) :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>
	    	   <tr>
	        <td style="width: 50%;">
	            8. Working Table (4x2 size) :
	        </td>
	        <td style="width: 50%;">
	             1 Nos.
	        </td>	      
	    </tr>
	    <tr>
	        <td style="width: 50%;">
	            9. Serving Table (6x1½ size) :
	        </td>
	        <td style="width: 50%;">
	             10 Nos.
	        </td>	      
	    </tr>
	     <tr>
	        <td style="width: 50%;">
	            10. Dosa Tawa :
	        </td>
	        <td style="width: 50%;">
	             2 Nos.
	        </td>	      
	    </tr>
	     <tr>
	        <td style="width: 50%;">
	            11. Pasta Stovetop :
	        </td>
	        <td style="width: 50%;">
	             1 Nos.
	        </td>	      
	    </tr>
	    </tbody>
	    </table>
	    <p>Please note that no other items other than the above shall be provided by the Hall.  Items such as Gas Cylinder, Cooking Vessels, Food, Drinking Water, Dining Plates, Tumblers, Glasses, Tissue Papers, Chair & Table dresses, decorative items etc. need to be arranged only by the host.</p>

		<p>I have read all the above and hereby agree to abide with the same.</p>
		<p style="width: 75%" align="right">Name :</p>
		<p style="width: 75%" align="right">Signature :</p>
		<p style="width: 75%" align="right">Date: </p>
</div>