<html>
	<head>
	  <title>Mirth</title>	  
	  <style>
		h3 {color: #000000;}
		p {color: #000000;}
	  </style>
	</head>
	<body>
	 <div>
	     <i>
	         <h3>Date: {{ todayDate }}</h3>
	         
	         <h3>Dear Sir / Madam,</h3>

	         <p>We are grateful to you for having chosen our Banquet Hall as the venue for the special occasion.</p>

	         <p>It gives us immense pleasure to add your name in the list of our prestigious hosts in MIRTH. We are very keen on making your event as a special one by providing the best of the services. We are attaching herewith your booking details for reference.</p>

	         <p>We wish you to have a memorable event.</p>

	         <p>Thanking you and with Warm Wishes!</p>
	         
	         <h3>MIRTH</h3>
	         <p> </p>
	     </i>
	 </div>
   </body>
</html>
