<html>
	<head>
	  <title>Mirth</title>	  
	  <style>
		h3 {color: #000000;}
		p {color: #000000;}
	  </style>
	</head>
	<body>
	 <div>
	     <i>
	         <h3>Dear Customer,</h3>

	         <p>We hope you had a pleasant experience at our Banquet Hall and a memorable & wonderful event. Find attached copy of the final invoice, which details the accrued cost for the usage of our Banquet Halls and other amenities.</p>

	         <p>For any questions related to the attached invoice, please don't hesitate to contact us at any time. </p>
	         
	         <p> </p>
	     </i>
	 </div>
   </body>
</html>
