<html>
	<head>
	  <title>Mirth</title>	  
	  <style>
		h3 {color: #000000;}
		p {color: #000000;}
	  </style>
	</head>
	<body>
	 <div>
	     <i>
	         <h3>Dear Customer,</h3>
	         
	         <p>We hereby acknowledge your payment with thanks. We hope you will have a wonderful event and a pleasant experience at our Banquet Hall.</p>

	         <p>Find attached copy of the payment receipt. Final copy of invoice will be send to you after clearing any pending dues.</p>

	         <p>Thanking You</p>

	         <p>Yours Sincerely</p>
	         
	         <h3>MIRTH</h3>
	         <p> </p>
	     </i>
	 </div>
   </body>
</html>
