<html>
	<head>
	  <title>Mirth</title>	  
	  <style>
		h3 {color: #cc0099;}
		p {color: #cc0099;}
	  </style>
	</head>
	<body>
	 <div>
	     <i>
	         <h3>Dear Sir/Madam,</h3>
	         
	         <p>Thank you for your recent booking of our Banquet Hall for your special occasion. We acknowledge the receipt of your payment. Final invoice will be send to you upon clearing all the pending invoices.</p>

	         <p>Find attached the copy of the receipt for your kind verification. Should you have any queries, please feel free to contact us at your convenience. It’s our please to assist you.</p>

	         <p>Thanking you with Warm Wishes!</p>
	         
	         <h3>MIRTH</h3>
	         <p> </p>
	     </i>
	 </div>
   </body>
</html>
