<div layout="column">

	<div layout="row">
		<div style="float: right; margin-bottom: 10px;" class="btn-group">
			<md-button class="md-raised md-primary nonecase" ng-click="changeView(CALENDAR_CHANGE_VIEW[0], myCalendar)">Day</md-button>
			<md-button class="md-raised md-primary nonecase" ng-click="changeView(CALENDAR_CHANGE_VIEW[1], myCalendar)">Week</md-button>
			<md-button class="md-raised md-primary nonecase" ng-click="changeView(CALENDAR_CHANGE_VIEW[2], myCalendar)">Month</md-button>
		</div>
		
		<div layout="column">
			<div flex></div>
			<div class="radio">
				<label style="color: #999">
					<input name="mColorFilter" ng-model="model.mColorFilter" type="radio" value="1" ng-click="colorFilter()"><span class="circle"></span><span class="check"></span> Payment
				</label>
				<label style="color: #999">
					<input name="mColorFilter" ng-model="model.mColorFilter" type="radio" value="2" ng-click="colorFilter()"><span class="circle"></span><span class="check"></span> Event
				</label>
			</div>
		    <div flex></div>
		</div>

		<md-input-container flex style="margin-left: 20px">
	        <label class="my-label">Halls</label>
	        <md-select  multiple 
	                    name="halls"
	                    ng-model="searchParams.selectedHalls"
	                    ng-change="selectedHallsChanged()"
	                    ng-model-options= "{trackBy: '$value._id'}">
	          <md-optgroup label="Halls">
	            <md-option ng-value="hall" ng-repeat="hall in halls.mAllHalls">{{hall.displayName}}</md-option>
	          </md-optgroup>
	        </md-select>
	        <div ng-messages="userForm.halls.$error" ng-show="userForm.halls.$invalid  && submitted">
	          <div ng-message="required">Halls is required.</div>
	        </div>
	  	</md-input-container>

	</div>

		<div layout="row">
			<div flex=70 id="calendar" class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar=        "uiConfig.calendar"/>

			<div flex=30>
				<canvas id="pie" class="chart chart-pie"
		                  chart-data="chart.data"
		                  chart-labels="chart.labels"
		                  chart-options="chart.options"
		                  chart-colors="chart.colors">
				</canvas>
			</div>
		</div>
	</div>
</div>

