<div layout="column" style="margin-top: 15px">

	<div layout="column">
		<p style="color:#7f7f7f;font-size: 17px;"><b>Tax:</b></p>

		<table>
		  <tr>
		    <th width="30%">Field</th>
		    <th width="40%">Value</th> 
		    <th width="30%">Action</th>
		  </tr>
		  <tr>
		    <td>CGST(%)</td>
		    <td></td> 
		    <td style="text-align: center;"><md-button class="md-raised md-primary nonecase">Edit</md-button></td>
		  </tr>
		  <tr>
		    <td>SGST(%)</td>
		    <td></td> 
		    <td style="text-align: center;"><md-button class="md-raised md-primary nonecase">Edit</md-button></td>
		  </tr>
		</table>
	</div>


	<div layout="column" style="margin-top: 10px">
		<div layout="row">
			<p flex=70 style="color:#7f7f7f;font-size: 17px; margin-top:10px"><b>Halls:</b></p>
			<div flex=30 style="text-align: center;">
				<md-button class="md-raised md-primary nonecase" ng-click="mShowAddHallPopup()">Add</md-button>
			</div>
		</div>

		<table>
		  <tr>
		    <th width="30%">Hall Name</th>
		    <th width="40%">Rate</th> 
		    <th width="30%">Action</th>
		  </tr>
		  <tr>
		    <td>CGST(%)</td>
		    <td></td> 
		    <td style="text-align: center;"><md-button class="md-raised md-primary nonecase">Edit</md-button></td>
		  </tr>
		</table>
	</div>

	


</div>