<!-- <div ng-controller="LoginController as vm" layout="column">

    <div layout="row">
        <div flex>
            <div layout="row" style="float:left; margin-top:50px;">
                <div> 
                    <img src="modules/core/client/img/call.png">
                    <b>+91 98847 00479</b>
                </div>
                <div>
                    <img src="modules/core/client/img/mail.png">
                    <b>mirthchennai@gmail.com</b>
                </div>
            </div>
        </div>

        <div flex>
            <center>
                <img src="modules/core/client/img/logo.png"/>
            </center>
        </div>

        <div flex>
          <div ng-click="handleAuthClick()">
            <img src="modules/core/client/img/gplus.png"/>
          </div>
        </div>
    </div>

    <span layout="row">
        <hr flex/>
        <hr flex/>
    </span>

    <img src="modules/core/client/img/building.jpg">
           
</div> -->

<div class="page-signin" ng-controller="LoginController as vm">

    <center>
    
        <div>

            <div style="float:left; margin-top:50px;">
                <ul class="list-inline" style="color:#B02E3B;">
                <li>
                    <img src="modules/core/client/img/call.png">
                    <b>+91 98847 00479</b>
                </li>
                <li>
                    <img src="modules/core/client/img/mail.png">
                    <b>mirthchennai@gmail.com</b>
                </li>
                </ul>
            </div>

          <div style="float:right; margin-top:20px;" ng-click="handleAuthClick()"><img src="modules/core/client/img/gplus.png"/></div>
          <div style="margin:0 auto; margin-top:5px;"><img src="modules/core/client/img/logo.png"/></div>
        </div>

        <span style="display: block; height: 1px; border: 0; border-top: 1px solid #000000;
        margin: 1em 0;padding: 0;"></span>

        <img style="max-width: 100%; display:block; height: auto;" src="modules/core/client/img/building.jpg">
    </center>
       
</div>