<md-dialog flex>
  <form name="paymentStatusForm" autocomplete="off">
    <md-toolbar>
      <div class="md-toolbar-tools">
        
        <span flex="100" align="center" style="text-align: center;"><h2>{{model.paymentStatus._id ? 'Edit Payment Status' : 'Add Payment Status'}}</h2></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="modules/core/client/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="column" flex>

          <md-input-container flex>
            <label>Name</label>
            <input style="text-transform: capitalize" required name="name" ng-model="model.paymentStatus.name" ng-disabled="model.paymentStatus._id"/>
            <div ng-messages="paymentStatusForm.name.$error">
              <div ng-message="required">Payment status name is required.</div>
            </div>
          </md-input-container>  
          <md-input-container flex>
              <label>Colour</label>
              <md-select  required
                          name="colour"
                          ng-model="model.paymentStatus.colour"
                          ng-change="onPaymentStatusColourSelected()">                
                <md-optgroup label="Colour">
                  <md-option ng-value="colour" ng-repeat="colour in colours">{{colour.name}}</md-option>
                </md-optgroup>
              </md-select>    
              <div ng-messages="paymentStatusForm.colour.$error" ng-show="paymentStatusForm.colour.$invalid && submitted">
                <div ng-message="required">Payment status colour is required.</div>
              </div>
          </md-input-container>

        </div>
        
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">  
      <span flex></span>
      <md-button flex ng-click="save(paymentStatusForm)" type="submit">Submit</md-button>
      <span flex></span>
      <md-button flex ng-click="cancel()">Cancel</md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>