<div layout="column" style="margin-top: 15px" ng-init="loadInitial()">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-icon" data-background-color="{{DATA_BACKGROUND_COLOR}}">
					<i class="material-icons">assignment</i>
				</div>
				<div class="card-content">
					<h4 class="card-title">List of events</h4>
					<span class="pull-right" style="margin-top: -50px"><md-button class="btn btn-info btn-sm md-button" ng-click="mShowEventTypePopup($event)">Create Event</md-button></span>
					<h4 class="card-title" style="text-align: center" ng-hide="eventTypes.length">Events not found.</h4>
					<table class="table table-bordered" ng-show="eventTypes.length">
						<tr>
							<th style="text-align: center" width="30%">Event name</th>
							<th style="text-align: center" width="40%">Colour</th> 
							<th style="text-align: center" width="30%">Action</th>
						</tr>
						<tr ng-repeat = "eventType in eventTypes" style="text-align: center">
							<td>{{ eventType.displayName }}</td>
							<td>{{ eventType.colour.name }}</td>

							<td style="text-align: center;">
							<md-button class="md-raised md-primary nonecase md-mini" style="min-width: 50px" ng-click="mShowEventTypePopup($event, $index, eventType)"><span class="glyphicon glyphicon-pencil"></span></md-button>
							<md-button class="btn btn-danger btn-sm" style="min-width: 50px" ng-click="mDeleteEventType($event, $index, eventType)"><span class="glyphicon glyphicon-trash"></span></md-button>
							</td>
						</tr>		  
					</table>
				</div>
			</div>
		</div>
	</div>
</div>