<div layout="column" style="margin-top: 15px" ng-init="loadInitial()">

	<div class="row">
	   <div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="{{DATA_BACKGROUND_COLOR}}">
					<h4 class="title">Event</h4>
					<p class="category">To set events type</p>
					<div flex=30 style="float: right; margin-top: -35px">
						<md-button class="md-raised md-primary nonecase" ng-click="mShowEventTypePopup($event)">Add</md-button>
					</div>
				</div>
				<div class="card-content">
					<h4 class="card-title" ng-hide="eventTypes.length">No event found.</h4>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-bordered" ng-show="eventTypes.length">
						<tr>
							<th style="text-align: center" width="30%">Event name</th>
							<th style="text-align: center" width="40%">Colour</th> 
							<th style="text-align: center" width="30%">Action</th>
						</tr>
						<tr ng-repeat = "eventType in eventTypes" style="text-align: center">
							<td style="text-transform: capitalize;">{{ eventType.name }}</td>
							<td>{{ eventType.colour.name }}</td>

							<td style="text-align: center;">
							<md-button class="md-raised md-primary nonecase md-mini" style="min-width: 50px" ng-click="mShowEventTypePopup($event, $index, eventType)"><span class="glyphicon glyphicon-pencil"></span></md-button>
							<md-button class="btn btn-danger btn-sm" style="min-width: 50px" ng-click="mDeleteEventType($event, $index, eventType)"><span class="glyphicon glyphicon-trash"></span></md-button>
							</td>
						</tr>		  
					</table>
				</div>
			</div>
	   </div>
	</div>

</div>