<div layout="column" style="margin-top: 15px" ng-init="loadInitial()">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-icon" data-background-color="{{DATA_BACKGROUND_COLOR}}">
					<i class="material-icons">store</i>
				</div>
				<div class="card-content">
					<h4 class="card-title">List of halls</h4>
					<span class="pull-right" style="margin-top: -50px"><md-button class="btn btn-{{DATA_BACKGROUND_COLOR}} btn-sm md-button" ng-click="mShowHallPopup($event)">Add Hall Rates</md-button></span>
					<h4 class="card-title" style="text-align: center" ng-hide="halls.length">Hall rates not found.</h4>
					<table class="table table-bordered" ng-show="halls.length">
					  <tr>
					    <th style="text-align: center" width="20%">Hall name</th>
					    <th style="text-align: center" width="9%">Rate</th> 
					    <th style="text-align: center" width="15%">Electricity Charge</th> 
					    <th style="text-align: center" width="16%">Cleaning Charge</th> 
					    <!-- <th style="text-align: center" width="8%">SGST</th> 
					    <th style="text-align: center" width="8%">CGST</th> --> 
					    <th style="text-align: center" width="20%">Effective Date</th> 
					    <th style="text-align: center" width="20%">Action</th>
					  </tr>
					  <tr ng-repeat = "hall in halls" style="text-align: center" ng-init="findRateSummariesByDate(hall)">
				        <td>{{ hall.displayName }}</td>
				        <td>{{ hall.rate | currency:"₹":0 }}</td>
				        <td>{{ hall.powerConsumpationCharges | currency:"₹":0 }}</td>
				        <td>{{ hall.cleaningCharges | currency:"₹":0 }}</td>
				        <!-- <td>{{ hall.CGSTTax | currency:"₹":0 }}</td>
				        <td>{{ hall.SGSTTax | currency:"₹":0 }}</td> -->
				        <td>{{ hall.effectiveDate | date:'MMM yyyy' }}</td>
				        <td style="text-align: center;">
				        	<md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="mShowHallPopup($event, $index, hall)"><span class="glyphicon glyphicon-pencil"></span></md-button>
				        	<md-button class="btn btn-danger btn-sm" style="min-width: 50px" ng-click="mDeleteHall($event, $index, hall)"><span class="glyphicon glyphicon-trash"></span></md-button>
				        </td>
				     </tr>		  
					</table>
				</div>
			</div>
		</div>
	</div>
</div>