<div layout="column" style="margin-top: 15px" ng-init="loadInitial()">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-icon" data-background-color="{{DATA_BACKGROUND_COLOR}}">
					<i class="material-icons">assessment</i>
				</div>
				<div class="card-content">
					<h4 class="card-title">List of taxes</h4>
					<span class="pull-right" style="margin-top: -50px" ng-hide="taxes.length >= 2"><md-button class="btn btn-info btn-sm md-button" ng-click="mShowTaxPopup($event)">Add Tax Rate</md-button></span>
					<h4 class="card-title" style="text-align: center" ng-hide="taxes.length">Tax rate not found.</h4>
					<table class="table table-bordered" ng-show="taxes.length">
						<tr>
							<th style="text-align: center" width="20%">Field</th>
							<th style="text-align: center" width="20%">Value</th> 
							<th style="text-align: center" width="15%">Effective Date</th>
							<th style="text-align: center" width="25%">Rate Summaries</th>
							<th style="text-align: center" width="20%">Action</th>
						</tr>
						<tr ng-repeat = "tax in taxes" ng-init="findTaxRateSummariesByDate(tax)" style="text-align: center">
							<td>{{ tax.name | uppercase}}(%)</td>
							<td>{{ tax.percentage }}</td>
							<td>{{ tax.effectiveDate | date:'dd, MMM yyyy' }}</td>
							<td><md-button class="btn btn-info btn-sm md-button" ng-click="viewTaxSummaries($event, $index, tax, false)">Rate Summaries</md-button></td>
							<td style="text-align: center;">
							<md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="mShowTaxPopup($event, $index, tax)"><span class="glyphicon glyphicon-pencil"></span></md-button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>