<div layout="column" style="margin-top: 15px" ng-init="loadInitial()">

	<div class="row">
	   <div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="{{DATA_BACKGROUND_COLOR}}">
					<h4 class="title">Tax</h4>
					<p class="category">To set tax rate</p>
					<div flex=30 style="float: right; margin-top: -35px"  ng-hide="taxes.length >= 2">
						<md-button class="md-raised md-primary nonecase" ng-click="mShowTaxPopup($event)">Add</md-button>
					</div>
				</div>
				<div class="card-content">
					<h4 class="card-title" ng-hide="taxes.length">No taxes rate found.</h4>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-bordered" ng-show="taxes.length">
						<tr>
							<th style="text-align: center" width="30%">Field</th>
							<th style="text-align: center" width="40%">Value</th> 
							<th style="text-align: center" width="15%">Effective Date</th> 
							<th style="text-align: center" width="30%">Action</th>
						</tr>
						<tr ng-repeat = "tax in taxes" ng-init="findTaxRateSummariesByDate(tax)" style="text-align: center">
							<td>{{ tax.name | uppercase}}(%)</td>
							<td>{{ tax.percentage }}</td>
							<td>{{ tax.effectiveDate | date:'MMM yyyy' }}</td>
							<td style="text-align: center;">
							<md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="mShowTaxPopup($event, $index, tax)"><span class="glyphicon glyphicon-pencil"></span></md-button>
							</td>
						</tr>
					</table>
				</div>
			</div>
	   </div>
	</div>

</div>