 <md-dialog flex="30" ng-init="loadInitial()">
  <form name="taxForm" autocomplete="off">
    <div class="card">
      <div class="card-header" data-background-color="{{DATA_BACKGROUND_COLOR}}">
        <div class="md-toolbar-tools">        
          <span flex="100" align="left"><h1>{{model.tax._id ? 'Edit Tax' : 'Add Tax'}}</h1></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="modules/core/client/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </div>
      <div class="card-content table-responsive">
        <md-dialog-content>
          <div class="md-dialog-content">

            <div layout="column" flex>

              <md-input-container flex>
                <label>Name</label>
                <input style="text-transform: uppercase" required name="name" ng-model="model.tax.name" ng-disabled="model.tax._id"/>
                <div ng-messages="taxForm.name.$error">
                  <div ng-message="required">Tax name is required.</div>
                </div>
              </md-input-container>  

              <md-input-container flex>
                <label>Percentage</label>
                <input  required name="percentage" ng-model="model.percentage" ng-maxlength="2" ng-pattern="ui.mNumberPattern"/>
                <div ng-messages="taxForm.percentage.$error">
                  <div ng-message="required">Tax percentage is required.</div>
                </div>
              </md-input-container>

              <md-input-container flex ng-show="!ui.createMode">
                <label>Effective Date</label>
                <div ng-click="showStartDatePicker($event)">
                  <input class="form-control datepicker" id="taxEffectiveDatePicker" required name="start" ng-model="model.tax.effectiveDate" onfocus="this.blur()"></input>
                </div>
              </md-input-container>

            </div>
            
          </div>
        </md-dialog-content>
      </div>
    
      <md-dialog-actions layout="row">  
        <span flex></span>
        <input class="btn btn-next btn-fill btn-rose btn-wd" name="submit" value="Submit" ng-click="save(taxForm)" ng-disabled="taxForm.$invalid" type="button">
        <span flex></span>
        <input class="btn btn-next btn-fill btn-rose btn-wd" name="cancel" value="Cancel" ng-click="cancel()" type="button">
        <span flex></span>
      </md-dialog-actions>
    </div>
  </form>
</md-dialog>