<md-dialog flex="60">
  <form name="bookingForm">
    <div class="card">
      <div class="card-header" data-background-color="{{DATA_BACKGROUND_COLOR}}">
        <div class="md-toolbar-tools">        
          <span flex><h2>{{mixins._id ? ui.viewMode ? 'Booking Details' : 'Edit Booking' : 'New Booking'}}</h2> </span>
          <md-button class="md-icon-button" ng-click="cancel()">
             <i class="material-icons">close</i>
          </md-button>
        </div>
        </div>
    </div>
    <md-dialog-content>
      <div class="md-dialog-content" id="printThis" ng-if="!ui.isActualChargesView">
        <div layout="row" flex>
          <!-- <md-input-container flex ng-show="!ui.showMdSelect">
            <label>Halls</label>           
           <input style="text-transform: capitalize; cursor: pointer" ng-click="showMdselect()" name="selectedHalls" ng-model="disabledSelectedHalls" ng-disabled="ui.viewMode" readonly></input>
          </md-input-container>  -->        
          <md-input-container flex>
            <label>Halls</label>           
            <md-select  multiple 
                        required
                        name="halls"
                        ng-model="mixins.mSelectedHalls"
                        ng-change="selectedHallsChanged()"
                        ng-model-options= "{trackBy: '$value._id'}"
                        ng-disabled="ui.viewMode">
              <md-optgroup label="Halls">
                <md-option ng-value="hall" ng-selected="{{ selectHallsByDefault(hall) }}" ng-repeat="hall in model.halls">{{hall.displayName}}</md-option>
              </md-optgroup>
            </md-select>
            <div ng-messages="bookingForm.halls.$error" ng-show="bookingForm.halls.$invalid  && submitted">
              <div ng-message="required">Halls is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex=40>
            <label>Date</label>
            <input ng-model="ui.mSelectedDateToDisplay" ng-click="showEventDatePicker($event)" onfocus="this.blur()" ng-disabled="ui.viewMode || ui.createMode" readonly/>
          </md-input-container>
        </div>

        <div layout="column" flex>
          <md-input-container flex>
              <label>Event</label>
              <md-select  required
                          name="event"
                          ng-model="mixins.mSelectedEventType"
                          ng-change="onEventTypeSelected()"
                          ng-disabled="ui.viewMode">
                <md-optgroup label="Event">
                  <md-option ng-value="eventType" ng-selected="{{ eventType.name === mixins.mSelectedEventType.name ? 'true' : 'false' }}" ng-repeat="eventType in model.eventTypes">{{eventType.displayName}}</md-option>
                </md-optgroup>
              </md-select>    
              <div ng-messages="bookingForm.event.$error" ng-show="bookingForm.event.$invalid && submitted">
                <div ng-message="required">Event is required.</div>
              </div>
          </md-input-container>

          <md-input-container flex ng-if="mixins.mSelectedEventType === getOtherEvents() && getOtherEvents()">
            <input required name="otherEvent" ng-model="mixins.mOtherEvent" ng-disabled="ui.viewMode"/>
            <div ng-messages="bookingForm.otherEvent.$error">
              <div ng-message="required">Other event is required.</div>
            </div>
          </md-input-container> 
             
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Time</label>
              <div ng-click="!ui.viewMode ? showStartTimePicker($event) : ''">
                <input class="form-control timepicker" required name="start" ng-model="eventTime.mStartToDisplay" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly></input>
              </div>
              <div ng-messages="bookingForm.start.$error">
                <div ng-message="required">Start time is required.</div>
                <div ng-message="lesser">Event start time should be less than end time.</div>
              </div>
          </md-input-container>

          <md-input-container flex>
            <label>To</label>
              <div ng-click="!ui.viewMode ? showEndTimePicker($event) : ''">
                <input required name="end" ng-model="eventTime.mEndToDisplay" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly></input>
              </div>
              <div ng-messages="bookingForm.end.$error">
                <div ng-message="required">End time is required.</div>
                <div ng-message="greater">Event end time should be greater than start time.</div>
              </div>
          </md-input-container>
        </div>

        <!-- <div layout="column" flex>
          <md-input-container flex>
            <label>Description</label>
            <textarea style="resize: none;" rows="3" ng-model="mixins.mDescription" ng-disabled="ui.viewMode"></textarea> 
          </md-input-container>  
        </div> -->

        <div layout="column" flex>
          <md-input-container flex>
            <label>Name</label>
            <input required name="name" ng-model="mixins.mName" ng-disabled="ui.viewMode"/>
            <div ng-messages="bookingForm.name.$error">
              <div ng-message="required">Name is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Phone</label>
            <input required name="phone" ng-pattern="/^[0-9 _ ,]*$/" ng-disabled="ui.viewMode" ng-model="mixins.mPhone"/>
            <div ng-messages="bookingForm.phone.$error">
              <div ng-message="required">Phone is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Email</label>
            <input type="email" name="email" ng-model="mixins.mEmail" ng-disabled="ui.viewMode" ng-pattern="ui.mEmailPattern" />
            <div ng-messages="bookingForm.email.$error" role="alert">
              <div ng-message-exp="['pattern']">
                Invalid email.
              </div>
            </div>
          </md-input-container>  
        </div>
        
        <div layout="column" flex>
          <md-input-container flex>
            <label>Address</label>
            <textarea style="resize: none;" required name="address" rows="3" ng-model="mixins.mAddress" ng-disabled="ui.viewMode"></textarea> 
            <div ng-messages="bookingForm.address.$error">
              <div ng-message="required">Address is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Photo ID of the Person</label>
            <input ng-model="mixins.mPhotoId" ng-disabled="ui.viewMode"/>
          </md-input-container>  
        </div>
                        
        <div layout="column" flex>
          <md-input-container flex>
            <label>Manager Name</label>
            <input required name="managerName" ng-model="mixins.mManagerName" ng-disabled="ui.viewMode"/>
            <div ng-messages="bookingForm.managerName.$error">
              <div ng-message="required">Manager Name is required.</div>
            </div>
          </md-input-container>  
        </div>
        <!-- Ubai New Code Start  -->
        <div ng-repeat="hallRateSummary in mixins.mSelectedHalls track by $index">
          <div class="card">          
            <div class="card-header card-header-icon" data-background-color="orange">
              <i class="material-icons">store</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">{{hallRateSummary.displayName}}</h4>
              <div layout="row" flex>
                <md-input-container flex>
                  <label>Basic Cost</label>
                  <input required name="basicCost" ng-model="hallRateSummary.mBasicCost" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <div ng-messages="bookingForm.basicCost.$error">
                    <div ng-message="required">Basic cost is required.</div>
                  </div>
                </md-input-container>  

                <md-input-container flex>
                  <label>Electricity Charges</label>
                  <input required name="electricity" ng-disabled="ui.viewMode" ng-model="hallRateSummary.mElectricityCharges" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <div ng-messages="bookingForm.electricity.$error">
                    <div ng-message="required">Electricity Charges is required.</div>
                  </div>
                </md-input-container> 

                <md-input-container flex>
                  <label>Cleaning Charges</label>
                  <input required name="cleaning" ng-model="hallRateSummary.mCleaningCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <div ng-messages="bookingForm.cleaning.$error">
                    <div ng-message="required">Cleaning Charges is required.</div>
                  </div>
                </md-input-container> 
              </div>

              <div layout="row" flex>    
                <md-input-container flex>
                  <label>Generator Charges</label>
                  <input name="generator" ng-model="hallRateSummary.mGeneratorCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <!-- <div ng-messages="bookingForm.generator.$error">
                    <div ng-message="required">Generator Charges is required.</div>
                  </div> -->
                </md-input-container>

                <md-input-container flex>
                  <label>Miscellaneous Charges</label>
                  <input name="miscellaneous" ng-model="hallRateSummary.mMiscellaneousCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <!-- <div ng-messages="bookingForm.miscellaneous.$error">
                    <div ng-message="required">Miscellaneous Charges is required.</div>
                  </div> -->
                </md-input-container>

                <md-input-container flex>
                  <label>Damages</label>
                  <input name="damages" ng-model="hallRateSummary.mDamages" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <!-- <div ng-messages="bookingForm.miscellaneous.$error">
                    <div ng-message="required">Damages Charges is required.</div>
                  </div> -->
                </md-input-container>
              </div>              
            </div>
          </div>          
        </div>
        <!-- End  -->
        <div layout="row" flex>
          <md-input-container flex>
            <label>Discount</label>
            <input required name="discount" ng-model="mixins.mDiscount" type="number" ng-disabled="ui.viewMode" min="0" ng-change="calculateBalanceDue()" ng-pattern="ui.mPricePattern" step="0.01"/>
            <div ng-messages="bookingForm.discount.$error">
              <div ng-message="required">Discount is required.</div>
            </div>
          </md-input-container>  
          <md-input-container flex>
            <label>Pending Grand Total</label>
            <input style="font-weight:bold; color:red" required name="pendingGrandTotal" ng-model="mixins.mPendingGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" type="number" readonly/>
            <div ng-messages="bookingForm.pendingGrandTotal.$error">
              <div ng-message="required">Pending Grand Total is required.</div>
            </div>
          </md-input-container>
        </div>
        
        <div layout="column" flex>
            <label>Payment Received</label>  
            <div layout="row" ng-hide="ui.viewMode || (ui.isFullyPaid && mixins.mBalanceDue <= 0)" flex>
              <md-input-container flex>
                <label>Amount Paid</label>
                <input ng-required="ui.createMode || mixins.mPaymentHistories.length <= 0 || mPaymentHistory.paymentMode" name="amountPaid" ng-model="mPaymentHistory.amountPaid" type="number" min="1" ng-change="calculateBalanceDue()" ng-pattern="ui.mPricePattern" step="0.01"/>
                <div ng-messages="bookingForm.amountPaid.$error">
                  <div ng-message="required">Amount paid is required.</div>
                </div>
              </md-input-container>  

              <md-input-container flex>
                  <label>Payment Mode</label>
                  <md-select  ng-required="ui.createMode || mixins.mPaymentHistories.length <= 0 || mPaymentHistory.amountPaid"
                              name="payMode"
                              ng-model="mPaymentHistory.paymentMode"
                              ng-change="onPaymentModeChanged()">
                    <md-optgroup label="Payment Mode">
                      <md-option ng-value="paymentMode" ng-repeat="paymentMode in model.paymentModes">{{paymentMode}}</md-option>
                    </md-optgroup>
                  </md-select>    
                  <div ng-messages="bookingForm.payMode.$error" ng-show="bookingForm.payMode.$invalid && submitted">
                    <div ng-message="required">Payment mode is required.</div>
                  </div>
              </md-input-container> 

              <md-input-container flex ng-if="mPaymentHistory.amountPaid && mPaymentHistory.paymentMode !== model.paymentModes[2]">
                  <label>Details</label>                      
                  <input name="details" ng-model="mPaymentHistory.details" ng-required="mPaymentHistory.amountPaid && mPaymentHistory.paymentMode !== model.paymentModes[2]"/>
                  <div ng-messages="bookingForm.details.$error">
                    <div ng-message="required">{{mPaymentHistory.paymentMode}} Details is required.</div>
                  </div>
              </md-input-container> 
              
              <md-input-container flex>
                <label>Paid Date</label>
                  <div ng-click="!ui.viewMode ? showPaidDatePicker($event) : ''">
                    <input type="date" ng-required="ui.createMode || mixins.mPaymentHistories.length <= 0" name="paidDate" ng-model="mPaymentHistory.paidDate" onfocus="this.blur()" readonly></input>
                  </div>                  
                  <div ng-messages="bookingForm.paidDate.$error">
                    <div ng-message="required">Paid date is required.</div>
                  </div>
              </md-input-container>                           

              <div class="pull-right" ng-if="!ui.createMode && !(mixins.mBalanceDue <= 0)">
                <md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="addPayment()" ng-disabled="mPaymentHistory.amountPaid == null || mPaymentHistory.paidDate == null || mPaymentHistory.paymentMode == null" type="submit"><span class="glyphicon glyphicon-plus"></span></md-button>
              </div> 
            </div>
            <!-- Payment Histories -->
            <div ng-if="!ui.createMode" layout="row" flex ng-repeat="mPaymentHistory in mixins.mPaymentHistories track by $index">              
              <md-input-container flex>
                <label>Amount Paid</label>
                <input name="amountPaid" ng-model="mPaymentHistory.amountPaid" type="number" min="1" ng-change="calculateBalanceDue()" ng-pattern="ui.mPricePattern" ng-disabled="true" step="0.01"/>                
              </md-input-container>  
                            
              <md-input-container flex>
                  <label>Payment Mode</label>
                  <md-select name="payMode"
                              ng-model="mPaymentHistory.paymentMode" ng-disabled="true">                
                    <md-optgroup label="Payment Mode">
                      <md-option ng-value="paymentMode" ng-repeat="paymentMode in model.paymentModes">{{paymentMode}}</md-option>
                    </md-optgroup>
                  </md-select>                 
              </md-input-container>   

              <md-input-container flex ng-if="mPaymentHistory.paymentMode !== model.paymentModes[2]">
                  <label>Details</label>                      
                  <input ng-model="mPaymentHistory.details" ng-disabled="true"/>
              </md-input-container>

              <md-input-container flex>
                <label>Paid Date</label>
                  <div>
                    <input mo-date-input="YYYY-MM-DD" name="paidDate" ng-model="mPaymentHistory.paidDate" ng-disabled="true"></input>
                  </div>
              </md-input-container>
              
              <div class="pull-right">
                <md-button class="btn btn-danger btn-sm" style="min-width: 50px" ng-disabled="ui.viewMode" ng-click="removePayment($index)" type="submit"><span class="glyphicon glyphicon-remove"></span></md-button>
              </div>
            </div>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Pending Sub Total</label>
            <input required name="pendingSubTotal" ng-model="mixins.mPendingSubTotal" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
            <div ng-messages="bookingForm.pendingSubTotal.$error">
              <div ng-message="required">Pending Sub Total is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Received Sub Total</label>
            <input name="receivedSubTotal" ng-model="mixins.mReceivedSubTotal" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
          </md-input-container>
          <md-input-container flex>
            <label>Total Sub Total</label>
            <input name="totalSubTotal" ng-model="mixins.mSubTotal" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Pending CGST</label>
            <input required name="pendingcgst" ng-model="mixins.mPendingCGST" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
            <div ng-messages="bookingForm.pendingcgst.$error">
              <div ng-message="required">Pending CGST is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Received CGST</label>
            <input name="receivedcgst" ng-model="mixins.mReceivedCGST" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
          </md-input-container>
          <md-input-container flex>
            <label>Total CGST</label>
            <input name="cgst" ng-model="mixins.mCGST" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
          </md-input-container>  
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Pending SGST</label>
            <input required name="pendingsgst" ng-model="mixins.mPendingSGST" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
            <div ng-messages="bookingForm.pendingsgst.$error">
              <div ng-message="required">Pending SGST is required.</div>
            </div>
          </md-input-container>  
          <md-input-container flex>
            <label>Received SGST</label>
            <input name="receivedsgst" ng-model="mixins.mReceivedSGST" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
          </md-input-container>  
          <md-input-container flex>
            <label>Total SGST</label>
            <input name="totalsgst" ng-model="mixins.mSGST" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
          </md-input-container>  
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Pending Grand Total</label>
            <input required name="pendingGrandTotal" ng-model="mixins.mPendingGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" type="number" readonly/>
            <div ng-messages="bookingForm.pendingGrandTotal.$error">
              <div ng-message="required">Pending Grand Total is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Received Grand Total</label>
            <input name="receivedGrandTotal" ng-model="mixins.mReceivedGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" type="number" readonly/>
          </md-input-container>  
          <md-input-container flex>
            <label>Total Grand Total</label>
            <input name="totalGrandTotal" ng-model="mixins.mGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" type="number" readonly/>
          </md-input-container>  
        </div>              
        
        <div layout="column" flex>
          <md-input-container flex>
            <label>Balance Due</label>
            <input required name="balanceDue" ng-model="mixins.mBalanceDue" ng-disabled="ui.viewMode" onfocus="this.blur()" type="number" min="0" step="any" readonly/>
            <div ng-messages="bookingForm.balanceDue.$error">
              <div ng-message="required">Balance Due is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Description</label>
            <textarea style="resize: none;" rows="3" ng-model="mixins.mDescription" ng-disabled="ui.viewMode"></textarea> 
          </md-input-container>  
        </div>

        <div id="printHtml" ng-hide="{{true}}">
          <p ng-bind-html="trustAsHtml(htmlString)"></p>
        </div>        
      </div>

      <div class="md-dialog-content" ng-if="ui.isActualChargesView">
        <div ng-repeat="hallRateSummary in model.selectedEventSelectedHalls track by $index">
          <div class="card">          
            <div class="card-header card-header-icon" data-background-color="orange">
              <i class="material-icons">store</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">{{hallRateSummary.displayName}}</h4>
              <div layout="row" flex>                
                <md-input-container flex>
                  <label>Electricity Charges</label>
                  <input ng-disabled="ui.viewMode" ng-model="hallRateSummary.mElectricityCharges" onfocus="this.blur()" readonly/>                  
                </md-input-container> 
                <md-input-container flex>
                    <label>Actual Electricity Charges</label>
                    <input ng-disabled="ui.viewMode" ng-model="hallRateSummary.mActualElectricityCharges" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>                    
                </md-input-container> 
              </div>

              <div layout="row" flex>    
                <md-input-container flex>
                  <label>Cleaning Charges</label>
                  <input ng-model="hallRateSummary.mCleaningCharges" ng-disabled="ui.viewMode" onfocus="this.blur()" readonly/>                  
                </md-input-container> 
                <md-input-container flex>
                  <label>Actual Cleaning Charges</label>
                  <input ng-model="hallRateSummary.mActualCleaningCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>                  
                </md-input-container> 
              </div>              
            </div>
          </div>          
        </div>     
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button flex class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.createMode || ui.isActualChargesView" ng-click="shiftChargesView(true)">Actual Charges</md-button>
      <md-button flex class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.createMode || !ui.isActualChargesView" ng-click="shiftChargesView(false)">Booking Charges</md-button>
      <md-button flex class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.createMode || ui.viewMode || !ui.isActualChargesView" ng-click="saveActualCharges(bookingForm)" ng-disabled="bookingForm.$invalid" type="submit">Save</md-button>      
     <md-button class="btn btn-next btn-fill btn-danger btn-wd" ng-show="ui.viewMode && !ui.isActualChargesView" flex ng-click="deleteBooking()" type="submit">Delete</md-button>
      <md-button class="btn btn-next btn-fill btn-rose btn-wd" flex ng-disabled="bookingForm.$invalid" ng-click="printBooking(bookingForm)" type="submit" ng-hide="ui.isActualChargesView">Print</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="bookingForm.$invalid && !mixins.mEmail" flex ng-click="sendMail(bookingForm)" ng-hide="ui.mailsending || ui.isActualChargesView" type="submit">Email</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="true" flex ng-show="ui.mailsending" type="submit"><i class="fa fa-spinner fa-spin"></i> Sending...</md-button>
      <md-button class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.viewMode || ui.isBookingInProgress || ui.isActualChargesView" ng-disabled="bookingForm.$invalid" flex ng-click="save(bookingForm)" type="submit">{{mixins._id ? 'Update Booking' : 'Confirm Booking'}}</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="true" flex ng-show="ui.isBookingInProgress" type="submit"><i class="fa fa-spinner fa-spin"></i> Booking...</md-button>
      <md-button flex ng-hide="ui.isPastEvent || !ui.viewMode || ui.isActualChargesView" class="btn btn-next btn-fill btn-info btn-wd" ng-click="editBooking()" type="submit">Edit Booking</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>