<md-dialog flex="85">
  <form name="bookingForm" autocomplete="off">
    <div class="card">
      <div class="card-header" data-background-color="{{DATA_BACKGROUND_COLOR}}">
        <div class="md-toolbar-tools">        
          <span flex><h2>{{mixins._id ? ui.viewMode ? 'Booking Details' : 'Edit Booking' : 'New Booking'}}</h2> </span>
          <md-button class="md-icon-button" ng-click="cancel(bookingForm)">
             <i class="material-icons">close</i>
          </md-button>
        </div>
        </div>
    </div>
    <md-dialog-content>
      <div ng-init="setForm(bookingForm)"/>
      <div class="md-dialog-content" id="printThis" ng-if="!ui.isActualChargesView">
        <div layout="row" flex>
          <!-- <md-input-container flex ng-show="!ui.showMdSelect">
            <label class="my-label">Halls</label>           
           <input style="text-transform: capitalize; cursor: pointer" ng-click="showMdselect()" name="selectedHalls" ng-model="disabledSelectedHalls" ng-disabled="ui.viewMode" readonly></input>
          </md-input-container>  -->
          <md-input-container flex>
            <label class="my-label"><b>Halls</b></label>
            <md-select  multiple style="color: #000066;font-weight: bold;"
                        required 
                        name="halls"
                        ng-model="mixins.mSelectedHalls"
                        ng-change="selectedHallsChanged()"
                        ng-model-options= "{trackBy: '$value._id'}"
                        ng-disabled="ui.viewMode">
              <md-optgroup label="Halls">
                <md-option style="color: #000066; font-weight: bold;" ng-value="hall" ng-repeat="hall in model.filteredHalls">{{hall.displayName}}</md-option>
              </md-optgroup>
            </md-select>
            <div ng-messages="bookingForm.halls.$error" ng-show="bookingForm.halls.$invalid">
              <div ng-message="required">Hall is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex=40>
            <label class="my-label"><b>Date</b></label>
            <input style="color: #000066; font-weight: bold;" ng-model="ui.mSelectedDateToDisplay" ng-click="showEventDatePicker($event)" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
          </md-input-container>
        </div>

        <div layout="column" flex>
          <md-input-container flex>
              <label class="my-label"><b>Event</b></label>
              <md-select  required style="color: #000066; font-weight: bold;"
                          name="event"
                          ng-model="mixins.mSelectedEventType"
                          ng-change="onEventTypeSelected()"
                          ng-disabled="ui.viewMode" ng-model-options="{trackBy: '$value._id'}">
                <md-optgroup label="Event">
                  <md-option style="color: #000066; font-weight: bold;" ng-value="eventType" ng-selected="{{ eventType._id === mixins.mSelectedEventType._id ? 'true' : 'false' }}" ng-repeat="eventType in model.eventTypes">{{eventType.displayName}}</md-option>
                </md-optgroup>
              </md-select>    
              <div ng-messages="bookingForm.event.$error" ng-show="bookingForm.event.$invalid">
                <div ng-message="required">Event is required.</div>
              </div>
          </md-input-container>

          <md-input-container flex ng-if="mixins.mSelectedEventType === getOtherEvents() && getOtherEvents()">
            <input style="color: #000066; font-weight: bold;" required name="otherEvent" ng-model="mixins.mOtherEvent" ng-disabled="ui.viewMode"/>
            <div ng-messages="bookingForm.otherEvent.$error">
              <div ng-message="required">Other event is required.</div>
            </div>
          </md-input-container> 
             
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label class="my-label"><b>Time</b></label>
              <div ng-click="!ui.viewMode ? showStartTimePicker($event) : ''">
                <input style="color: #000066; font-weight: bold;" class="form-control timepicker" required name="start" ng-model="eventTime.mStartToDisplay" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly></input>
              </div>
              <div ng-messages="bookingForm.start.$error">
                <div ng-message="required">Start time is required.</div>
                <div ng-message="lesser">Event start time should be before the end time.</div>
              </div>
          </md-input-container>

          <md-input-container flex>
            <label class="my-label"><b>To</b></label>
              <div ng-click="!ui.viewMode ? showEndTimePicker($event) : ''">
                <input style="color: #000066; font-weight: bold;" required name="end" ng-model="eventTime.mEndToDisplay" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly></input>
              </div>
              <div ng-messages="bookingForm.end.$error">
                <div ng-message="required">End time is required.</div>
                <div ng-message="greater">Event end time should be after the start time.</div>
              </div>
          </md-input-container>
        </div>        

        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label"><b>Name</b></label>
            <input style="color: #000066; font-weight: bold;" required name="name" ng-model="mixins.mName" ng-disabled="ui.viewMode"/>
            <div ng-messages="bookingForm.name.$error">
              <div ng-message="required">Name is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label"><b>Phone</b></label>
            <input style="color: #000066; font-weight: bold;" required name="phone" ng-pattern="/^[0-9 _ ,]*$/" ng-disabled="ui.viewMode" ng-model="mixins.mPhone"/>
            <div ng-messages="bookingForm.phone.$error">
              <div ng-message="required">Phone is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label"><b>Email</b></label>
            <input style="color: #000066; font-weight: bold;" type="email" name="email" ng-model="mixins.mEmail" ng-disabled="ui.viewMode" ng-pattern="ui.mEmailPattern" />
            <div ng-messages="bookingForm.email.$error" role="alert">
              <div ng-message-exp="['pattern']">
                Invalid email.
              </div>
            </div>
          </md-input-container>  
        </div>
        
        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label"><b>Address</b></label>
            <textarea style="resize: none;color: #000066; font-weight: bold;" required name="address" rows="3" ng-model="mixins.mAddress" ng-disabled="ui.viewMode"></textarea> 
            <div ng-messages="bookingForm.address.$error">
              <div ng-message="required">Address is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label"><b>GSTIN Number</b></label>
            <input style="color: #000066; font-weight: bold;" name="gstinNumber" ng-model="mixins.mGSTINNumber" ng-disabled="ui.viewMode"/>
          </md-input-container>  
        </div>
        
        <div layout="column" flex>
          <md-input-container flex>
            <label style="font-size: 17px;margin-bottom: 10px;"><b>Photo ID of the Person</b></label>
            <div class="form-group text-center" ng-hide="!ui.fileSelected && !mixins.mPhotoIdPath" ng-click="showLargeImage($event)">
              <img ngf-src="ui.fileSelected ? ui.photoIdFile : '/' + mixins.mPhotoIdPath" class="img-thumbnail user-profile-picture" ngf-drop>
            </div>
            <!-- <div ng-show="vm.loading" class="form-group text-center">
              <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
            </div> -->           
        
            <div  ng-hide="ui.viewMode" class="text-center form-group">
              <button class="btn btn-default btn-file btn btn-next btn-fill btn-rose btn-wd" ngf-select="onFileSelected($files, $event, b)" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Browse</button>
              <button ng-if="ui.fileSelected && mixins.mPhotoIdPath" class="btn btn-next btn-fill btn-danger btn-wd" ng-click="cancelFile()">Cancel</button>
            </div> 


          </md-input-container>  
        </div>
                        
        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label"><b>Manager Name</b></label>
            <input style="color: #000066; font-weight: bold;" required name="managerName" ng-model="mixins.mManagerName" ng-disabled="ui.viewMode"/>
            <div ng-messages="bookingForm.managerName.$error">
              <div ng-message="required">Manager Name is required.</div>
            </div>
          </md-input-container>  
        </div>
        <!-- Ubai New Code Start  -->
        <div ng-repeat="hallRateSummary in mixins.mSelectedHalls track by $index">
          <div class="card">          
            <div class="card-header card-header-icon" data-background-color="orange">
              <i class="material-icons">store</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">{{hallRateSummary.displayName}}</h4>
              <div layout="row" flex>
                <md-input-container flex>
                  <label class="my-label"><b>Basic Cost</b></label>
                  <input style="color: #000066; font-weight: bold;" required name="basicCost" ng-model="hallRateSummary.mBasicCost" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <div ng-messages="bookingForm.basicCost.$error">
                    <div ng-message="required">Basic cost is required.</div>
                  </div>
                </md-input-container>  

                <md-input-container flex>
                  <label class="my-label"><b>Electricity Charges</b></label>
                  <input style="color: #000066; font-weight: bold;" required name="electricity" ng-disabled="ui.viewMode" ng-model="hallRateSummary.mElectricityCharges" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <div ng-messages="bookingForm.electricity.$error">
                    <div ng-message="required">Electricity Charges is required.</div>
                  </div>
                </md-input-container> 

                <md-input-container flex>
                  <label class="my-label"><b>Cleaning Charges</b></label>
                  <input style="color: #000066; font-weight: bold;" required name="cleaning" ng-model="hallRateSummary.mCleaningCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>
                  <div ng-messages="bookingForm.cleaning.$error">
                    <div ng-message="required">Cleaning Charges is required.</div>
                  </div>
                </md-input-container> 
              </div>

              <div layout="row" flex>    
                <md-input-container flex>
                  <label class="my-label"><b>Generator Charges</b></label>
                  <input style="color: #000066; font-weight: bold;" name="generator" ng-model="hallRateSummary.mGeneratorCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>                  
                </md-input-container>

                <md-input-container flex>
                  <label class="my-label"><b>Miscellaneous Charges</b></label>
                  <input style="color: #000066; font-weight: bold;" name="miscellaneous" ng-model="hallRateSummary.mMiscellaneousCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>                  
                </md-input-container>

                <md-input-container flex>
                  <label class="my-label"><b>Damages</b></label>
                  <input style="color: #000066; font-weight: bold;" name="damages" ng-model="hallRateSummary.mDamages" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>                  
                </md-input-container>
              </div>              
            </div>
          </div>          
        </div>
        <!-- End  -->
        <div layout="row" flex>
          <md-input-container flex>
            <label class="my-label"><b>Discount</b></label>
            <input style="color: #000066; font-weight: bold;" required name="discount" ng-model="mixins.mDiscount" type="number" ng-disabled="ui.viewMode" min="0" ng-change="calculateBalanceDue()" ng-pattern="ui.mPricePattern" step="0.01"/>
            <div ng-messages="bookingForm.discount.$error">
              <div ng-message="required">Discount is required.</div>
            </div>
          </md-input-container>  
          <md-input-container flex>
            <label class="my-label"><b>Pending Grand Total</b></label>
            <input style="font-weight:bold; color:red" required name="pendingGrandTotal" ng-model="mixins.mPendingGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" readonly/>
            <div ng-messages="bookingForm.pendingGrandTotal.$error">
              <div ng-message="required">Pending Grand Total is required.</div>
            </div>
          </md-input-container>
        </div>
        
        <md-card  layout="column" flex>        
          <md-card-content>
          <label style="font-size: 17px;"><b>Payment Received</b></label>
            <md-card  layout="row" ng-hide="ui.viewMode || (ui.isFullyPaid && mixins.mBalanceDue <= 0 && !mPaymentHistory.amountPaid)" flex>
              <md-card-content layout="row" flex>
                <div layout="column" flex>
                  <div layout="row">
                    <md-input-container flex>
                      <label class="my-label"><b>Amount Paid</b></label>
                      <input style="color: #000066; font-weight: bold;" ng-required="ui.createMode || getUnDeletedPaymentHistories().length <= 0 || mPaymentHistory.paymentMode" name="amountPaid" ng-model="mPaymentHistory.amountPaid" type="number" min="1" ng-change="onUnConfirmedAmountChanged()" ng-pattern="ui.mPricePattern" step="0.01"/>
                      <div ng-messages="bookingForm.amountPaid.$error">
                        <div ng-message="required">Amount paid is required.</div>
                      </div>
                    </md-input-container>  

                    <md-input-container flex>
                        <label class="my-label"><b>Payment Mode</b></label>
                        <md-select style="color: #000066; font-weight: bold;" ng-required="ui.createMode || mixins.mPaymentHistories.length <= 0 || mPaymentHistory.amountPaid"
                                    name="payMode"
                                    ng-model="mPaymentHistory.paymentMode"
                                    ng-change="onPaymentModeChanged()">
                          <md-optgroup label="Payment Mode">
                            <md-option style="color: #000066; font-weight: bold;" ng-value="paymentMode" ng-repeat="paymentMode in model.paymentModes">{{paymentMode}}</md-option>
                          </md-optgroup>
                        </md-select>    
                        <div ng-messages="bookingForm.payMode.$error" ng-show="bookingForm.payMode.$invalid">
                          <div ng-message="required">Payment mode is required.</div>
                        </div>
                    </md-input-container> 

                    <md-input-container flex ng-show="mPaymentHistory.paymentMode && mPaymentHistory.paymentMode !== model.paymentModes[2]">
                        <label class="my-label"><b>Details</b></label>                      
                        <input style="color: #000066; font-weight: bold;" name="details" ng-required="mPaymentHistory.paymentMode && mPaymentHistory.paymentMode !== model.paymentModes[2] && mPaymentHistory.paymentMode !== model.paymentModes[3]" ng-model="mPaymentHistory.details" />
                        <div ng-messages="bookingForm.details.$error">
                          <div ng-message="required">{{mPaymentHistory.paymentMode}} Details is required.</div>
                        </div>
                    </md-input-container> 

                    <md-input-container flex ng-show="mPaymentHistory.paymentMode && mPaymentHistory.paymentMode !== model.paymentModes[2]">
                        <label class="my-label"><b>Drawn On</b></label>                      
                        <input style="color: #000066; font-weight: bold;" name="drawnOn" ng-required="mPaymentHistory.paymentMode && mPaymentHistory.paymentMode !== model.paymentModes[2] && mPaymentHistory.paymentMode !== model.paymentModes[3]" ng-model="mPaymentHistory.drawnOn" />
                        <div ng-messages="bookingForm.drawnOn.$error">
                          <div ng-message="required">{{mPaymentHistory.paymentMode}} Drawn On is required.</div>
                        </div>
                    </md-input-container> 
                    
                    <md-input-container flex>
                      <label class="my-label"><b>Paid Date</b></label>
                        <div ng-click="!ui.viewMode ? showPaidDatePicker($event) : ''">
                          <input style="color: #000066; font-weight: bold;" type="date" ng-required="ui.createMode || mixins.mPaymentHistories.length <= 0" name="paidDate" ng-model="mPaymentHistory.paidDate" onfocus="this.blur()" readonly></input>
                        </div>                  
                        <div ng-messages="bookingForm.paidDate.$error">
                          <div ng-message="required">Paid date is required.</div>
                        </div>
                    </md-input-container>   
                  </div>   
                  <div layout="row">
                    <md-input-container flex ng-if="!ui.isPastReceiptEffectiveDate">
                        <label class="my-label"><b>Receipt Number</b></label>                      
                        <input style="color: #000066; font-weight: bold;" type="number" name="receiptNo" ng-required="mPaymentHistory.amountPaid" ng-model="mPaymentHistory.receiptNo" ng-pattern="ui.mNumberPattern" min="1"/>
                        <div ng-messages="bookingForm.receiptNo.$error">
                          <div ng-message="required">Receipt number is required.</div>
                        </div>
                    </md-input-container> 
                    <md-input-container flex>
                      <label class="my-label"><b>Basic Cost</b></label>
                      <input style="color: #000066; font-weight: bold;" ng-model="mPaymentHistory.paidSubTotal" ng-disabled="true"/> 
                    </md-input-container>  
                    <md-input-container flex>
                      <label class="my-label"><b>CGST</b></label>
                      <input style="color: #000066; font-weight: bold;" ng-model="mPaymentHistory.paidCGST" ng-disabled="true"/> 
                    </md-input-container>  
                    <md-input-container flex>
                      <label class="my-label"><b>SGST</b></label>
                      <input style="color: #000066; font-weight: bold;" ng-model="mPaymentHistory.paidSGST" ng-disabled="true"/> 
                    </md-input-container>  
                  </div>                    
                </div>
                <div layoout="column">                  
                  <div ng-if="!ui.createMode && !(mixins.mBalanceDue <= 0)">
                      <md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="addPayment()" ng-disabled="mPaymentHistory.amountPaid == null || mPaymentHistory.paidDate == null || mPaymentHistory.paymentMode == null || (mPaymentHistory.paymentMode != model.paymentModes[2] && (mPaymentHistory.details == null || mPaymentHistory.drawnOn == null)) || (!ui.isPastReceiptEffectiveDate && mPaymentHistory.receiptNo == null)" type="submit"><span class="glyphicon glyphicon-plus"></span></md-button>
                  </div> 
                </div>
              </md-card-content>
            </md-card >
            <!-- Payment Histories -->
            <md-card ng-if="!ui.createMode" flex ng-repeat="mPaymentHistory in mixins.mPaymentHistories track by $index">  
              <md-card-content layout="row" ng-if="!mPaymentHistory.isDeletedPayment" flex>
                <div layout="column" flex>
                  <div layout="row">
                    <md-input-container flex >
                      <label class="my-label"><b>Amount Paid</b></label>
                      <input style="color: #000066; font-weight: bold;" name="amountPaid" ng-model="mPaymentHistory.amountPaid" type="number" min="1" ng-change="calculateBalanceDue()" ng-pattern="ui.mPricePattern" ng-disabled="true" step="0.01"/> 
                    </md-input-container>  
                                  
                    <md-input-container flex>
                        <label class="my-label"><b>Payment Mode</b></label>
                        <md-select name="payMode" style="color: #000066; font-weight: bold;"
                                    ng-model="mPaymentHistory.paymentMode" ng-disabled="true">                
                          <md-optgroup label="Payment Mode">
                            <md-option style="color: #000066; font-weight: bold;" ng-value="paymentMode" ng-repeat="paymentMode in model.paymentModes">{{paymentMode}}</md-option>
                          </md-optgroup>
                        </md-select>                 
                    </md-input-container>   

                    <md-input-container flex ng-if="mPaymentHistory.paymentMode !== model.paymentModes[2]">
                        <label class="my-label"><b>Details</b></label>                      
                        <input style="color: #000066; font-weight: bold;" ng-model="mPaymentHistory.details" ng-disabled="!mPaymentHistory.isEditNEFTdetails"/>
                    </md-input-container>

                    <md-input-container flex ng-if="mPaymentHistory.paymentMode !== model.paymentModes[2]">
                        <label class="my-label"><b>Drawn On</b></label>                      
                        <input style="color: #000066; font-weight: bold;" ng-model="mPaymentHistory.drawnOn" ng-disabled="!mPaymentHistory.isEditNEFTdetails"/>
                    </md-input-container>

                    <md-input-container flex>
                      <label class="my-label"><b>Paid Date</b></label>
                        <div>
                          <input style="color: #000066; font-weight: bold;" mo-date-input="YYYY-MM-DD" name="paidDate" ng-model="mPaymentHistory.paidDate" ng-disabled="true"></input>
                        </div>
                    </md-input-container>      
                  </div>
                  <div layout="row">
                    <md-input-container flex >
                      <label class="my-label"><b>Basic Cost</b></label>
                      <input style="color: #000066; font-weight: bold;" ng-model="mPaymentHistory.paidSubTotal" ng-disabled="true"/> 
                    </md-input-container>  
                    <md-input-container flex >
                      <label class="my-label"><b>CGST</b></label>
                      <input style="color: #000066; font-weight: bold;" ng-model="mPaymentHistory.paidCGST" ng-disabled="true"/> 
                    </md-input-container>  
                    <md-input-container flex >
                      <label class="my-label"><b>SGST</b></label>
                      <input style="color: #000066; font-weight: bold;" ng-model="mPaymentHistory.paidSGST" ng-disabled="true"/> 
                    </md-input-container>  
                  </div>  
                </div>
                <div layoout="column">
                  <div>
                    <md-button class="md-raised md-warn" style="min-width: 50px" ng-disabled="ui.viewMode" ng-click="removePayment($index)" type="submit" title="Delete payment"><span class="glyphicon glyphicon-remove"></span></md-button>
                  </div>
                  <div ng-if="mPaymentHistory.paymentMode === model.paymentModes[3]">
                    <md-button class="md-raised md-primary" style="min-width: 50px;" ng-disabled="ui.viewMode || mPaymentHistory.isEditNEFTdetails" ng-click="editNEFTdetails($index)" type="submit" title="Edit NEFT details"><span class="glyphicon glyphicon-pencil"></span></md-button>
                  </div>
                  <div>
                    <md-button class="md-raised md-accent" style="min-width: 50px" ng-disabled="!mPaymentHistory._id" ng-click="printBooking(bookingForm, model.BILL_TYPES[1], $index)" type="submit" title="{{!mPaymentHistory._id ? 'Please update the booking to print this receipt' : 'Print receipt'}}"><span class="glyphicon glyphicon-print"></span></md-button>
                  </div>                  
                  <div>
                    <md-button style="min-width: 50px; background-color: #9c27b0; color: white" ng-disabled="!mPaymentHistory._id || mixins.mEmail==null || mixins.mEmail==''" ng-hide="mPaymentHistory.isSendingMail" ng-click="sendMail(bookingForm, model.BILL_TYPES[1], $index)" type="submit" title="{{!mPaymentHistory._id ? 'Please update the booking to email this receipt' : ((mixins.mEmail==null || mixins.mEmail=='') ? 'Please enter the customer email' : 'Email receipt')}}"><span class="glyphicon glyphicon-envelope"></span></md-button>
                  </div>
                  <div>
                    <md-button style="min-width: 50px; background-color: #9c27b0; color: white" ng-show="mPaymentHistory.isSendingMail" type="submit"><i class="fa fa-spinner fa-spin"></i></md-button>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </md-card-content>
        </md-card>

        <md-card layout="column" flex>
          <label style="font-size: 15px;"><b>Contract Values</b></label>
          <md-card-content layout="row" flex>
          <md-card layout="column" flex="30">
            <md-card-content layout="column">
                <md-input-container>
                  <label class="my-label"><b>Total Rent &amp; Other Charges</b></label>
                  <input style="text-align:right;color: #000066; font-weight: bold;" name="totalSubTotal" ng-model="mixins.mSubTotal" onfocus="this.blur()" ng-disabled="ui.viewMode"  readonly/>
                </md-input-container>
                <md-input-container>
                  <label class="my-label"><b>Received Rent &amp; Other Charges</b></label>
                  <input style="text-align:right;color: #000066; font-weight: bold;" name="receivedSubTotal" ng-model="mixins.mReceivedSubTotal" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
                </md-input-container>
                <md-input-container>
                  <label class="my-label"><b>Pending Rent &amp; Other Charges</b></label>
                  <input style="text-align:right;color: #000066; font-weight: bold;" required name="pendingSubTotal" ng-model="mixins.mPendingSubTotal" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
                  <div ng-messages="bookingForm.pendingSubTotal.$error">
                    <div ng-message="required">Pending Rent &amp; Other Charges is required.</div>
                  </div>
                </md-input-container>   
            </md-card-content>
          </md-card>

          <md-card layout="column" flex>
            <md-card-content layout="column">
              <md-input-container>
                <label class="my-label"><b>Total CGST</b></label>
                <input style="text-align:right;color: #000066; font-weight: bold;" name="cgst" ng-model="mixins.mCGST" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
              </md-input-container>
              <md-input-container>
                <label class="my-label"><b>Received CGST</b></label>
                <input style="text-align:right;color: #000066; font-weight: bold;" name="receivedcgst" ng-model="mixins.mReceivedCGST" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
              </md-input-container>  
              <md-input-container>
                <label class="my-label"><b>Pending CGST</b></label>
                <input style="text-align:right;color: #000066; font-weight: bold;" required name="pendingcgst" ng-model="mixins.mPendingCGST" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
                <div ng-messages="bookingForm.pendingcgst.$error">
                  <div ng-message="required">Pending CGST is required.</div>
                </div>
              </md-input-container>
            </md-card-content>
          </md-card>

          <md-card layout="column" flex>
            <md-card-content layout="column">
              <md-input-container>
                <label class="my-label"><b>Total SGST</b></label>
                <input style="text-align:right;color: #000066; font-weight: bold;" name="totalsgst" ng-model="mixins.mSGST" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
              </md-input-container>  
              <md-input-container>
                <label class="my-label"><b>Received SGST</b></label>
                <input style="text-align:right;color: #000066; font-weight: bold;" name="receivedsgst" ng-model="mixins.mReceivedSGST" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
              </md-input-container>  
              <md-input-container>
                <label class="my-label"><b>Pending SGST</b></label>
                <input style="text-align:right;color: #000066; font-weight: bold;" required name="pendingsgst" ng-model="mixins.mPendingSGST" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
                <div ng-messages="bookingForm.pendingsgst.$error">
                  <div ng-message="required">Pending SGST is required.</div>
                </div>
              </md-input-container>  
            </md-card-content>
          </md-card>

          <md-card layout="column" flex>
            <md-card-content layout="column">
              <md-input-container flex>
                <label class="my-label"><b>Total Grand Total</b></label>
                <input style="font-weight:bold; color:red; text-align:right;" name="totalGrandTotal" ng-model="mixins.mGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" readonly/>
              </md-input-container>  
              <md-input-container flex>
                <label class="my-label"><b>Received Grand Total</b></label>
                <input style="text-align:right;color: #000066; font-weight: bold;" name="receivedGrandTotal" ng-model="mixins.mReceivedGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" readonly/>
              </md-input-container>  
              <md-input-container flex>
                <label class="my-label"><b>Pending Grand Total</b></label>
                <input style="text-align:right;color: #000066; font-weight: bold;" required name="pendingGrandTotal" ng-model="mixins.mPendingGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" readonly/>
                <div ng-messages="bookingForm.pendingGrandTotal.$error">
                  <div ng-message="required">Pending Grand Total is required.</div>
                </div>
              </md-input-container>
            </md-card-content>
          </md-card>
          </md-card-content>

        </md-card>                   
        
        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label"><b>Balance Due</b></label>
            <input style="font-weight:bold; color:red" required name="balanceDue" ng-model="mixins.mBalanceDue" ng-disabled="ui.viewMode" onfocus="this.blur()" readonly/>
            <div ng-messages="bookingForm.balanceDue.$error">
              <div ng-message="required">Balance Due is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex ng-if="mixins.mBalanceDue <= 0 && !ui.isPastInvoiceEffectiveDate && !mixins.invoiceDate && mixins.isTodayOrPastEvent && !ui.viewMode">
          <md-input-container flex>
              <label class="my-label"><b>Invoice Number</b></label>                 
              <input style="color: #000066; font-weight: bold;" type="number" name="invoiceNo" required ng-model="mixins.invoiceNo" ng-pattern="ui.mNumberPattern" min="1"/>
              <div ng-messages="bookingForm.invoiceNo.$error">
                <div ng-message="required">Invoice number is required.</div>
              </div>
          </md-input-container>  
        </div>        

        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label"><b>Description</b></label>
            <textarea style="resize: none;color: #000066; font-weight: bold;" rows="3" ng-model="mixins.mDescription" ng-disabled="ui.viewMode"></textarea> 
          </md-input-container>  
        </div>

        <div id="printHtml" ng-hide="{{true}}">
          <p ng-bind-html="trustAsHtml(htmlString)"></p>
        </div>        
      </div>

      <div class="md-dialog-content" ng-if="ui.isActualChargesView">
        <div ng-repeat="hallRateSummary in model.selectedEventSelectedHalls track by $index">
          <div class="card">          
            <div class="card-header card-header-icon" data-background-color="orange">
              <i class="material-icons">store</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">{{hallRateSummary.displayName}}</h4>
              <div layout="row" flex>                
                <md-input-container flex>
                  <label class="my-label"><b>Electricity Charges</b></label>
                  <input style="color: #000066; font-weight: bold;" ng-disabled="ui.viewMode" ng-model="hallRateSummary.mElectricityCharges" onfocus="this.blur()" readonly/>                  
                </md-input-container> 
                <md-input-container flex>
                    <label class="my-label"><b>Actual Electricity Charges</b></label>
                    <input style="color: #000066; font-weight: bold;" ng-disabled="ui.viewMode" ng-model="hallRateSummary.mActualElectricityCharges" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>                    
                </md-input-container> 
              </div>

              <div layout="row" flex>    
                <md-input-container flex>
                  <label class="my-label"><b>Cleaning Charges</b></label>
                  <input style="color: #000066; font-weight: bold;" ng-model="hallRateSummary.mCleaningCharges" ng-disabled="ui.viewMode" onfocus="this.blur()" readonly/>                  
                </md-input-container> 
                <md-input-container flex>
                  <label class="my-label"><b>Actual Cleaning Charges</b></label>
                  <input ng-model="hallRateSummary.mActualCleaningCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mPricePattern" step="0.01"/>                  
                </md-input-container> 
              </div>              
            </div>
          </div>          
        </div>     
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" ng-if="ui.isPageLoadingDone">
      <md-button flex class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.createMode || ui.isActualChargesView" ng-click="shiftChargesView(true)">Actual Charges</md-button>
      <md-button flex class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.createMode || !ui.isActualChargesView" ng-click="shiftChargesView(false)">Booking Charges</md-button>
      <md-button flex class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.createMode || ui.viewMode || !ui.isActualChargesView" ng-click="saveActualCharges(bookingForm)" ng-disabled="bookingForm.$invalid" type="submit">Save</md-button>      
     <md-button class="btn btn-next btn-fill btn-danger btn-wd" ng-show="ui.viewMode && !ui.isActualChargesView" flex ng-click="deleteBooking()" type="submit">Delete</md-button>
      <md-button class="btn btn-next btn-fill btn-rose btn-wd" flex ng-disabled="bookingForm.$invalid" ng-click="printBooking(bookingForm, model.BILL_TYPES[0], null)" type="submit" ng-hide="ui.createMode || ui.isActualChargesView"><span class="glyphicon glyphicon-print"></span> Booking Form</md-button>
      <md-button class="btn btn-next btn-fill btn-rose btn-wd" flex ng-disabled="bookingForm.$invalid" ng-click="printBooking(bookingForm, model.BILL_TYPES[2], null)" type="submit" ng-show="(ui.isFullyPaid && mixins.mBalanceDue <= 0 && mixins.isTodayOrPastEvent && mixins.invoiceNo && !ui.isActualChargesView)"><span class="glyphicon glyphicon-print"></span> Invoice</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="mixins.mEmail==null || mixins.mEmail=='' || !bookingForm.$valid" flex ng-click="sendMail(bookingForm, model.BILL_TYPES[0], null)" ng-hide="ui.mailsending || ui.createMode || ui.isActualChargesView" type="submit"><span class="glyphicon glyphicon-envelope"></span> Booking Form</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="mixins.mEmail==null || mixins.mEmail=='' || !bookingForm.$valid" flex ng-click="sendMail(bookingForm, model.BILL_TYPES[2], null)" ng-hide="ui.mailsending || ui.isActualChargesView || !(ui.isFullyPaid && mixins.mBalanceDue <= 0 && mixins.isTodayOrPastEvent && mixins.invoiceNo)" type="submit"><span class="glyphicon glyphicon-envelope"></span> Invoice</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="true" flex ng-show="ui.mailsending" type="submit"><i class="fa fa-spinner fa-spin"></i> Sending...</md-button>
      <md-button class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.viewMode || ui.isBookingInProgress || ui.isActualChargesView" flex ng-click="saveBooking(bookingForm)" type="submit">{{mixins._id ? 'Update Booking' : 'Confirm Booking'}}</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="true" flex ng-show="ui.isBookingInProgress" type="submit"><i class="fa fa-spinner fa-spin"></i> Booking...</md-button>
      <md-button flex ng-hide="(ui.isPastEvent && mixins.mPendingGrandTotal==0 && mixins.invoiceNo) || !ui.viewMode || ui.isActualChargesView" class="btn btn-next btn-fill btn-info btn-wd" ng-click="editBooking()" type="submit">Edit Booking</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>