<md-dialog flex="50">
  <form name="bookingForm">
    <div class="card">
      <div class="card-header" data-background-color="{{DATA_BACKGROUND_COLOR}}">
        <div class="md-toolbar-tools">        
          <span flex><h2>{{mixins._id ? ui.viewMode ? 'Booking Details' : 'Edit Booking' : 'New Booking'}}</h2> </span>
          <md-button class="md-icon-button" ng-click="cancel()">
             <i class="material-icons">close</i>
          </md-button>
        </div>
        </div>
    </div>
    <md-dialog-content>
      <div class="md-dialog-content" id="printThis">
        <div layout="row" flex>
          <md-input-container flex ng-show="!ui.showMdSelect">
            <label>Halls</label>           
           <input style="text-transform: capitalize; cursor: pointer" ng-click="showMdselect()" name="selectedHalls" ng-model="disabledSelectedHalls" ng-disabled="ui.viewMode" readonly></input>
          </md-input-container>         
          <md-input-container flex ng-show="ui.showMdSelect">
            <label>Halls</label>           
            <md-select style="text-transform: capitalize;"  multiple 
                        required
                        name="halls"
                        ng-model="mixins.mSelectedHalls"
                        ng-change="selectedHallsChanged()"
                        ng-model-options= "{trackBy: '$value._id'}"
                        ng-disabled="ui.viewMode">
              <md-optgroup label="Halls">
                <md-option style="text-transform: capitalize;" ng-value="hall" ng-selected="{{ selectHallsByDefault(hall) }}" ng-repeat="hall in model.halls">{{hall.name}}</md-option>
              </md-optgroup>
            </md-select>
            <div ng-messages="bookingForm.halls.$error" ng-show="bookingForm.halls.$invalid  && submitted">
              <div ng-message="required">Halls is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex=40>
            <label>Date</label>
            <input ng-model="ui.mSelectedDateToDisplay" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly/>
          </md-input-container>
        </div>

        <div layout="column" flex>
          <md-input-container flex>
              <label>Event</label>
              <md-select  style="text-transform: capitalize;" required
                          name="event"
                          ng-model="mixins.mSelectedEventType"
                          ng-change="onEventTypeSelected()"
                          ng-disabled="ui.viewMode">
                <md-optgroup label="Event">
                  <md-option style="text-transform: capitalize;" ng-value="eventType" ng-selected="{{ eventType.name === mixins.mSelectedEventType.name ? 'true' : 'false' }}" ng-repeat="eventType in model.eventTypes">{{eventType.name}}</md-option>
                </md-optgroup>
              </md-select>    
              <div ng-messages="bookingForm.event.$error" ng-show="bookingForm.event.$invalid && submitted">
                <div ng-message="required">Event is required.</div>
              </div>
          </md-input-container>

          <md-input-container flex ng-if="mixins.mSelectedEventType === getOtherEvents() && getOtherEvents()">
            <input required name="otherEvent" ng-model="mixins.mOtherEvent" ng-disabled="ui.viewMode" ng-pattern="mPattern"/>
            <div ng-messages="bookingForm.otherEvent.$error">
              <div ng-message="required">Other event is required.</div>
            </div>
          </md-input-container> 
             
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Time</label>
              <div ng-click="!ui.viewMode ? showStartTimePicker($event) : ''">
                <input class="form-control timepicker" required name="start" ng-model="eventTime.mStartToDisplay" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly></input>
              </div>
              <div ng-messages="bookingForm.start.$error">
                <div ng-message="required">Start time is required.</div>
                <div ng-message="lesser">Event start time should be less than end time.</div>
              </div>
          </md-input-container>

          <md-input-container flex>
            <label>To</label>
              <div ng-click="!ui.viewMode ? showEndTimePicker($event) : ''">
                <input required name="end" ng-model="eventTime.mEndToDisplay" onfocus="this.blur()" ng-disabled="ui.viewMode" readonly></input>
              </div>
              <div ng-messages="bookingForm.end.$error">
                <div ng-message="required">End time is required.</div>
                <div ng-message="greater">Event end time should be greater than start time.</div>
              </div>
          </md-input-container>
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Description</label>
            <textarea style="resize: none;" rows="3" ng-model="mixins.mDescription" ng-disabled="ui.viewMode" ng-pattern="mPattern"></textarea> 
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Name</label>
            <input required name="name" ng-model="mixins.mName" ng-disabled="ui.viewMode" ng-pattern="mPattern"/>
            <div ng-messages="bookingForm.name.$error">
              <div ng-message="required">Name is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Phone</label>
            <input type="text" required name="phone" ng-pattern="ui.mNumberPattern" ng-disabled="ui.viewMode" ng-model="mixins.mPhone" min="0" ng-maxlength="10" />
            <div ng-messages="bookingForm.phone.$error">
              <div ng-message="required">Phone is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Email</label>
            <input type="email" name="email" ng-model="mixins.mEmail" ng-disabled="ui.viewMode" ng-pattern="ui.mEmailPattern" />
            <div ng-messages="bookingForm.email.$error" role="alert">
              <div ng-message-exp="['pattern']">
                Invalid email.
              </div>
            </div>
          </md-input-container>  
        </div>
        
        <div layout="column" flex>
          <md-input-container flex>
            <label>Address</label>
            <textarea style="resize: none;" rows="3" ng-model="mixins.mAddress" ng-disabled="ui.viewMode" ng-pattern="mPattern"></textarea> 
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Photo ID of the Person</label>
            <input ng-model="mixins.mPhotoId" ng-pattern="mPattern" ng-disabled="ui.viewMode"/>
          </md-input-container>  
        </div>
                        
        <div layout="column" flex>
          <md-input-container flex>
            <label>Manager Name</label>
            <input required name="managerName" ng-model="mixins.mManagerName" ng-disabled="ui.viewMode" ng-pattern="mPattern" />
            <div ng-messages="bookingForm.managerName.$error">
              <div ng-message="required">Manager Name is required.</div>
            </div>
          </md-input-container>  
        </div>
        <!-- Ubai New Code Start  -->
        <div ng-repeat="hallRateSummary in mixins.mSelectedHalls track by $index">
          <div class="card">          
            <div class="card-header card-header-icon" data-background-color="orange">
              <i class="material-icons">store</i>
            </div>
            <div class="card-content">
              <h4 class="card-title" style="text-transform: capitalize;">{{hallRateSummary.name}}</h4>
              <div layout="row" flex>
                <md-input-container flex>
                  <label style="text-transform: capitalize;">Basic Cost</label>
                  <input required name="basicCost" ng-model="hallRateSummary.mBasicCost" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mNumberPattern"/>
                  <div ng-messages="bookingForm.basicCost.$error">
                    <div ng-message="required">Basic cost is required.</div>
                  </div>
                </md-input-container>  

                <md-input-container flex>
                  <label style="text-transform: capitalize;">Electricity Charges</label>
                  <input required name="electricity" ng-disabled="ui.viewMode" ng-model="hallRateSummary.mElectricityCharges" type="number" min="0" ng-pattern="ui.mNumberPattern"/>
                  <div ng-messages="bookingForm.electricity.$error">
                    <div ng-message="required">Electricity Charges is required.</div>
                  </div>
                </md-input-container>  
              </div>
              <div layout="row" flex>
                 <md-input-container flex>
                  <label style="text-transform: capitalize;">Cleaning Charges</label>
                  <input required name="cleaning" ng-model="hallRateSummary.mCleaningCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mNumberPattern"/>
                  <div ng-messages="bookingForm.cleaning.$error">
                    <div ng-message="required">Cleaning Charges is required.</div>
                  </div>
                </md-input-container> 

                <md-input-container flex>
                  <label style="text-transform: capitalize;">Generator Charges</label>
                  <input required name="generator" ng-model="hallRateSummary.mGeneratorCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mNumberPattern"/>
                  <div ng-messages="bookingForm.generator.$error">
                    <div ng-message="required">Generator Charges is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                  <label style="text-transform: capitalize;">Miscellaneous Charges</label>
                  <input required name="miscellaneous" ng-model="hallRateSummary.mMiscellaneousCharges" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mNumberPattern"/>
                  <div ng-messages="bookingForm.miscellaneous.$error">
                    <div ng-message="required">Miscellaneous Charges is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row" flex ng-if="!ui.createMode">
                <md-input-container flex>
                    <label style="text-transform: capitalize;">Actual Electricity Charges</label>
                    <input required name="actualelectricity" ng-disabled="ui.viewMode" ng-model="hallRateSummary.mActualElectricityCharges" type="number" min="0" ng-pattern="ui.mNumberPattern"/>
                    <div ng-messages="bookingForm.electricity.$error">
                      <div ng-message="required">Actual Electricity Charges is required.</div>
                    </div>
                </md-input-container>
                
                <md-input-container flex>
                  <label style="text-transform: capitalize;">Damages</label>
                  <input required name="damages" ng-model="hallRateSummary.mDamages" ng-disabled="ui.viewMode" type="number" min="0" ng-pattern="ui.mNumberPattern"/>
                  <div ng-messages="bookingForm.miscellaneous.$error">
                    <div ng-message="required">Damages Charges is required.</div>
                  </div>
                </md-input-container>
              </div>
            </div>
          </div>          
        </div>
        <!-- End  -->
        <div layout="column" flex>
          <md-input-container flex>
            <label>Discount</label>
            <input required name="discount" ng-model="mixins.mDiscount" type="number" ng-disabled="ui.viewMode" min="0" ng-change="calculateBalanceDue()" ng-pattern="ui.mNumberPattern"/>
            <div ng-messages="bookingForm.discount.$error">
              <div ng-message="required">Discount is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Sub Total</label>
            <input required name="subTotal" ng-model="mixins.mSubTotal" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
            <div ng-messages="bookingForm.subTotal.$error">
              <div ng-message="required">Sub Total is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>CGST</label>
            <input required name="cgst" ng-model="mixins.mCGST" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
            <div ng-messages="bookingForm.cgst.$error">
              <div ng-message="required">CGST is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>SGST</label>
            <input required name="sgst" ng-model="mixins.mSGST" onfocus="this.blur()" ng-disabled="ui.viewMode" type="number" readonly/>
            <div ng-messages="bookingForm.sgst.$error">
              <div ng-message="required">SGST is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Grand Total</label>
            <input required name="grandTotal" ng-model="mixins.mGrandTotal" ng-disabled="ui.viewMode" onfocus="this.blur()" type="number" readonly/>
            <div ng-messages="bookingForm.grandTotal.$error">
              <div ng-message="required">Grand Total is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div layout="column" flex>
          <md-input-container flex>
              <label>Payment Status</label>
              <md-select style="text-transform: capitalize;" required
                          name="payStatus" 
                          ng-model="mixins.mSelectedPaymentStatus"
                          ng-change="onPaymentStatusChanged()"
                          ng-disabled="ui.viewMode">
                <md-optgroup label="Payment Status">
                  <md-option style="text-transform: capitalize;" ng-value="paymentStatus" ng-selected="{{ paymentStatus.name === mixins.mSelectedPaymentStatus.name ? 'true' : 'false' }}" ng-repeat="paymentStatus in model.paymentStatuses">{{paymentStatus.name}}</md-option>
                </md-optgroup>
              </md-select>    
              <div ng-messages="bookingForm.payStatus.$error" ng-show="bookingForm.payStatus.$invalid && submitted">
                <div ng-message="required">Payment status is required.</div>
              </div>
          </md-input-container>             
        </div>         
       
        <div layout="column" flex>
            <label>Payment Received</label>  
            <div layout="row" ng-hide="ui.viewMode || (ui.isFullyPaid && mixins.mBalanceDue <= 0)" flex>
              <md-input-container flex>
                <label>Amount Paid</label>
                <input ng-required="ui.createMode || mixins.mPaymentHistories.length <= 0 || mPaymentHistory.paymentMode" name="amountPaid" ng-model="mPaymentHistory.amountPaid" type="number" min="1" ng-change="calculateBalanceDue()" ng-pattern="ui.mNumberPattern"/>
                <div ng-messages="bookingForm.amountPaid.$error">
                  <div ng-message="required">Amount paid is required.</div>
                </div>
              </md-input-container>  
              
              <md-input-container flex>
                <label>Paid Date</label>
                  <div ng-click="!ui.viewMode ? showPaidDatePicker($event) : ''">
                    <input type="date" ng-required="ui.createMode || mixins.mPaymentHistories.length <= 0" name="paidDate" ng-model="mPaymentHistory.paidDate"></input>
                  </div>                  
                  <div ng-messages="bookingForm.paidDate.$error">
                    <div ng-message="required">Paid date is required.</div>
                  </div>
              </md-input-container>

              <md-input-container flex>
                  <label>Payment Mode</label>
                  <md-select  ng-required="ui.createMode || mixins.mPaymentHistories.length <= 0 || mPaymentHistory.amountPaid"
                              name="payMode"
                              ng-model="mPaymentHistory.paymentMode"
                              ng-change="onPaymentModeChanged()">
                    <md-optgroup label="Payment Mode">
                      <md-option ng-value="paymentMode" ng-repeat="paymentMode in model.paymentModes">{{paymentMode}}</md-option>
                    </md-optgroup>
                  </md-select>    
                  <div ng-messages="bookingForm.payMode.$error" ng-show="bookingForm.payMode.$invalid && submitted">
                    <div ng-message="required">Payment mode is required.</div>
                  </div>
              </md-input-container>   
              <div class="pull-right" ng-if="!ui.createMode && !(mixins.mSelectedPaymentStatus.name === PAYMENT_STATUS[1] && mixins.mBalanceDue <= 0)">
                <md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="addPayment()" ng-disabled="mPaymentHistory.amountPaid == null || mPaymentHistory.paidDate == null || mPaymentHistory.paymentMode == null" type="submit"><span class="glyphicon glyphicon-plus"></span></md-button>
              </div> 
            </div>
            <!-- Payment Histories -->
            <div ng-if="!ui.createMode" layout="row" flex ng-repeat="mPaymentHistory in mixins.mPaymentHistories track by $index">              
              <md-input-container flex>
                <label>Amount Paid</label>
                <input name="amountPaid" ng-model="mPaymentHistory.amountPaid" type="number" min="1" ng-change="calculateBalanceDue()" ng-pattern="ui.mNumberPattern" ng-disabled="true"/>                
              </md-input-container>  
              
              <md-input-container flex>
                <label>Paid Date</label>
                  <div>
                    <input mo-date-input="YYYY-MM-DD" name="paidDate" ng-model="mPaymentHistory.paidDate" ng-disabled="true"></input>
                  </div>
              </md-input-container>

              <md-input-container flex>
                  <label>Payment Mode</label>
                  <md-select name="payMode"
                              ng-model="mPaymentHistory.paymentMode"
                              ng-change="onPaymentModeChanged()" ng-disabled="true">                
                    <md-optgroup label="Payment Mode">
                      <md-option ng-value="paymentMode" ng-repeat="paymentMode in model.paymentModes">{{paymentMode}}</md-option>
                    </md-optgroup>
                  </md-select>                 
              </md-input-container>   
              <div class="pull-right">
                <md-button class="btn btn-danger btn-sm" style="min-width: 50px" ng-disabled="ui.viewMode" ng-click="removePayment($index)" type="submit"><span class="glyphicon glyphicon-remove"></span></md-button>
              </div>
            </div>
        </div>

        <div layout="column" flex>
          <md-input-container flex>
            <label>Balance Due</label>
            <input required name="balanceDue" ng-model="mixins.mBalanceDue" ng-disabled="ui.viewMode" onfocus="this.blur()" type="number" min="0" step="any" readonly/>
            <div ng-messages="bookingForm.balanceDue.$error">
              <div ng-message="required">Balance Due is required.</div>
            </div>
          </md-input-container>  
        </div>

        <div id="printHtml" ng-hide="{{true}}">
          <p ng-bind-html="trustAsHtml(htmlString)"></p>
        </div>
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
     <md-button class="btn btn-next btn-fill btn-danger btn-wd" ng-show="ui.viewMode" flex ng-click="deleteBooking()" type="submit">Delete</md-button>
      <md-button class="btn btn-next btn-fill btn-rose btn-wd" flex ng-disabled="bookingForm.$invalid" ng-click="printBooking(bookingForm)" type="submit">Print</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="bookingForm.$invalid && !mixins.mEmail" flex ng-click="sendMail(bookingForm)" ng-hide="ui.mailsending" type="submit">Email</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="true" flex ng-show="ui.mailsending" type="submit"><i class="fa fa-spinner fa-spin"></i> Sending...</md-button>
      <md-button class="btn btn-next btn-fill btn-info btn-wd" ng-hide="ui.viewMode || ui.isBookingInProgress" ng-disabled="bookingForm.$invalid" flex ng-click="save(bookingForm)" type="submit">{{mixins._id ? 'Update Booking' : 'Confirm Booking'}}</md-button>
      <md-button class="btn btn-next btn-fill btn-primary btn-wd" ng-disabled="true" flex ng-show="ui.isBookingInProgress" type="submit"><i class="fa fa-spinner fa-spin"></i> Booking...</md-button>
      <md-button ng-hide="mixins.isPastEvent || !ui.viewMode" class="btn btn-next btn-fill btn-info btn-wd" ng-click="editBooking()" type="submit">Edit Booking</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>