<md-dialog flex="50" ng-init="loadInitial()">
  <form name="hallForm" autocomplete="off">    
    <div class="card">
        <div class="card-header" data-background-color="{{DATA_BACKGROUND_COLOR}}">
          <div class="md-toolbar-tools">        
            <span flex align="left"><h1>{{model.hall._id ? 'Edit Hall' : 'Add Hall'}}</h1></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="modules/core/client/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </div>
      <div class="card-content table-responsive">
        <md-dialog-content>
          <div class="md-dialog-content">

            <div layout="row" flex>

              <md-input-container flex>
                <label>Name</label>
                <input style="text-transform: capitalize" required name="name" ng-model="model.hall.name"/>
                <div ng-messages="hallForm.name.$error">
                  <div ng-message="required">Hall name is required.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label>Rate</label>
                <input required name="rate" ng-model="model.rate" ng-change="calculateTaxRate()" min="0" ng-pattern="ui.mNumberPattern"/>
                <div ng-messages="hallForm.rate.$error">
                  <div ng-message="required">Hall rate is required.</div>
                </div>
              </md-input-container> 

            </div>

            <div layout="row" flex>

              <md-input-container flex>
                <label>Electricity Charge</label>
                <input required name="powerConsumpationCharges" ng-change="calculateTaxRate()" min="0" ng-model="model.powerConsumpationCharges"/>
                <div ng-messages="hallForm.powerConsumpationCharges.$error">
                  <div ng-message="required">Electricity Charge is required.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label>Cleaning Charge</label>
                <input required name="cleaningCharges" ng-change="calculateTaxRate()" min="0" ng-model="model.cleaningCharges"/>
                <div ng-messages="hallForm.cleaningCharges.$error">
                  <div ng-message="required">Cleaning Charge is required.</div>
                </div>
              </md-input-container>

            </div>

            <div layout="row" flex>

              <md-input-container flex>
                <label>CGST</label>
                <input required name="CGSTTax" ng-model="model.CGSTTax"/>
                <div ng-messages="hallForm.CGSTTax.$error">
                  <div ng-message="required">CGST Tax is required.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label>SGST</label>
                <input required name="SGSTTax" ng-model="model.SGSTTax"/>
                <div ng-messages="hallForm.SGSTTax.$error">
                  <div ng-message="required">SGST Tax is required.</div>
                </div>
              </md-input-container>

            </div>

            <div layout="row" flex>

              <md-input-container flex>
                <label>Effective Date</label>
                <div ng-click="showStartDatePicker($event)">
                  <input class="form-control datepicker" required name="start" ng-model="model.hall.effectiveDate" onfocus="this.blur()"></input>
                </div>
              </md-input-container>               

            </div>
            
          </div>
        </md-dialog-content>
      </div>
      
      <md-dialog-actions layout="row">  
        <span flex></span>
        <input class="btn btn-next btn-fill btn-rose btn-wd" name="submit" value="Submit" ng-click="save(hallForm)" ng-disabled="hallForm.$invalid" type="button">
        <span flex></span>
        <input class="btn btn-next btn-fill btn-rose btn-wd" name="cancel" value="Cancel" ng-click="cancel()" type="button">
        <span flex></span>
      </md-dialog-actions>
    </div>
  </form>
</md-dialog>

